<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>编辑邀请码</title>
    <% include ./layout/headmeta.html %>
</head>

<body>
<!-- topbar starts -->
<% include ./layout/topbar.html %>
<!-- topbar ends -->
<div class="ch-container">
    <div class="row">
        <!-- left menu starts -->
        <% include ./layout/leftmenu.html %>
        <!-- left menu ends -->
        <!--/span-->
        <!-- left menu ends -->
        <div id="content" class="col-lg-10 col-sm-10">
            <!-- content starts -->
            <div>
                <ul class="breadcrumb">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">Tables</a>
                    </li>
                </ul>
            </div>
            <!--/row-->
            <div class="row">
                <div class="col-md-12">
                    <div class="box-inner">
                        <div class="box-header well" data-original-title="">
                            <h2><i class="glyphicon glyphicon-user"></i>编辑邀请码</h2>
                            <div class="box-icon">
                                <a href="#" class="btn btn-minimize btn-round btn-default"><i class="glyphicon glyphicon-chevron-up"></i></a>
                                <a href="#" class="btn btn-close btn-round btn-default"><i class="glyphicon glyphicon-remove"></i></a>
                            </div>
                        </div>
                        <div class="box-content">

                            <form class="form-horizontal" action="/admin/invitationCodeEdit" method="post">

                                <input type="hidden" id="invitationCodeId" name="invitationCodeId" value="<%=ic.invitationCodeId%>" title="邀请码ID">

                                <div class="form-group">
                                    <label for="useCount" class="col-sm-2 control-label">使用次数: </label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" id="useCount" name="useCount" value="<%=ic.useCount%>" placeholder="使用次数">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">状态: </label>
                                    <div class="col-sm-3">
                                        <label class="radio-inline">
                                            <%if(ic.state == 1){%>
                                                <input type="radio" name="state" value="1" checked> 使用中
                                            <%} else {%>
                                                <input type="radio" name="state" value="1" > 使用中
                                            <%}%>
                                        </label>
                                        <label class="radio-inline">
                                            <%if(ic.state == 0){%>
                                                <input type="radio" name="state" value="0" checked> 已失效
                                            <%} else {%>
                                                <input type="radio" name="state" value="0" > 已失效
                                            <%}%>
                                        </label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-primary ">提交</button>
                                        <button type="button" onclick="javascript:history.back(-1)" class="btn btn-default"> 返回 </button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
                <!--/span-->
            </div>
            <!--/row-->
            <!-- content ends -->
        </div>
        <!--/#content.col-md-0-->
    </div>
    <!-- 中间空白区 starts  -->
    <div class="row">

    </div>
    <!-- 中间空白区 ends  -->
    <hr />
    <!-- 底部版权信息 starts  -->
    <% include ./layout/footer.html %>
    <!-- 底部版权信息 ends-->
</div>
<!-- requirejs导入需要的js插件以及自定义模块 -->
<!--<script src="/javascripts/vendor/require.min.js" data-main="/javascripts/vendor/index-main.js"></script>-->
<!--<script src="http://apps.bdimg.com/libs/require.js/2.1.11/require.min.js" data-main="javascripts/vendor/index-main.js"></script>-->
</body>
</html>
