<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>添加组织</title>
    <% include ./layout/headmeta.html %>
    <link rel="stylesheet" type="text/css" href="/javascripts/vendor/webuploader-0.1.5/webuploader.css">
</head>

<body>
    <!-- topbar starts -->
    <% include ./layout/topbar.html %>
    <!-- topbar ends -->
    <div class="ch-container">
        <div class="row">
            <!-- left menu starts -->
            <% include ./layout/leftmenu.html %>
            <!-- left menu ends -->
            <!--/span-->
            <!-- left menu ends -->
            <div id="content" class="col-lg-10 col-sm-10">
                <!-- content starts -->
                <div>
                    <ul class="breadcrumb">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">Tables</a>
                        </li>
                    </ul>
                </div>
                <!--/row-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="box-inner">
                            <div class="box-header well" data-original-title="">
                                <h2><i class="glyphicon glyphicon-user"></i>添加组织</h2>
                                <div class="box-icon">
                                    <a href="#" class="btn btn-minimize btn-round btn-default"><i
                                            class="glyphicon glyphicon-chevron-up"></i></a>
                                    <a href="#" class="btn btn-close btn-round btn-default"><i
                                            class="glyphicon glyphicon-remove"></i></a>
                                </div>
                            </div>
                            <div class="box-content">
                                <form class="form-horizontal" action="/admin/org" method="post">
                                    <div class="form-group">
                                        <label for="nickName" class="col-sm-2 control-label">组织名称</label>
                                        <div class="col-sm-3">
                                            <input type="text" class="form-control" id="nickName" name="nickName" placeholder="组织名称" required="required">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="uploader" class="col-sm-2 control-label">组织logo</label>
                                        <div class="col-sm-6">
                                            <div id="uploader" class="wu-example">
                                                <!-- 用来存放文件信息 -->
                                                <div id="thelist" class="uploader-list"></div>
                                                <input type="hidden" value="<%= qntoken%>" id="qntoken"/>
                                                <div class="btns">
                                                    <div id="picker" class="picker">选择文件</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--
                                    	作者：nihao642250185@163.com
                                    	时间：2015-08-24
                                    	描述：验证第二个上传按钮
                                    -->
                                    <div class="form-group">
                                        <label for="uploader2" class="col-sm-2 control-label">组织背景图</label>
                                        <div class="col-sm-6">
                                            <div id="uploader2" class="wu-example">
                                                <!-- 用来存放文件信息 -->
                                                <div id="thelist2" class="uploader-list"></div>
                                                <input type="hidden" value="<%= qntoken%>" id="qntoken2"/>
                                                <div class="btns">
                                                    <div id="picker2">选择文件</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="groupId" class="col-sm-2 control-label">归属明星</label>
                                        <div class="col-sm-3 col-offset-3">
                                            <select class="form-control" id="groupId" name="groupId" required="required">
                                                <option value="">选择</option>
                                                <% groupList.forEach(function(item, index){%>
                                                	<option value="<%= item.groupId%>"><%= item.starName%></option>
                                                <%})%>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="userName" class="col-sm-2 control-label">组织帐号</label>
                                        <div class="col-sm-3">
                                            <input type="text" class="form-control" id="userName" name="userName" placeholder="粉丝团名称" required="true">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="password" class="col-sm-2 control-label">组织密码</label>
                                        <div class="col-sm-3">
                                            <input type="text" class="form-control" id="password" name="password" placeholder="组织密码" required="true">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                          <div class="checkbox">
                                            <label>
                                              <input type="checkbox" checked="checked" name="state">立即发布
                                            </label>
                                          </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button type="submit" class="btn btn-primary">提交</button>
                                            <button type="button" onclick="javascript:history.back(-1)" class="btn btn-default"> 返回 </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <!--/row-->
                <!-- content ends -->
            </div>
            <!--/#content.col-md-0-->
        </div>
        <!-- 中间空白区 starts  -->
        <div class="row">

        </div>
        <!-- 中间空白区 ends  -->
        <hr />
        <!-- 底部版权信息 starts  -->
        <% include ./layout/footer.html %>
        <!-- 底部版权信息 ends-->
    </div>
    <!-- requirejs导入需要的js插件以及自定义模块 -->
    <!--<script src="/javascripts/vendor/require.min.js" data-main="/javascripts/vendor/index-main.js"></script>-->
    <script src="http://apps.bdimg.com/libs/require.js/2.1.11/require.min.js" data-main="/javascripts/vendor/index-main.js"></script>
</body>
</html>
