<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>帖子评论</title>
    <% include ./layout/headmeta.html %>
</head>

<body>
    <!-- topbar starts -->
    <% include ./layout/topbar.html %>
    <!-- topbar ends -->
    <div class="ch-container">
        <div class="row">
            <!-- left menu starts -->
            <% include ./layout/leftmenu.html %>
            <!-- left menu ends -->
            <!--/span-->
            <!-- left menu ends -->
            <div id="content" class="col-lg-10 col-sm-10">
                <!-- content starts -->
                <div>
                    <ul class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Tables</a></li>
                    </ul>
                </div>
                <!--/row-->
                <div class="row">
                    <div class="box col-md-12">
                        <div class="box-inner">
                            <div class="box-header well" data-original-title="">
                                <h2><i class="glyphicon glyphicon-user"></i>帖子评论列表</h2>
                                <div class="box-icon">
                                    <a href="#" class="btn btn-minimize btn-round btn-default"><i class="glyphicon glyphicon-chevron-up"></i></a>
                                    <a href="#" class="btn btn-close btn-round btn-default"><i class="glyphicon glyphicon-remove"></i></a>
                                </div>
                            </div>
                            
                            <div class="box col-md-12">
                                <form class="form-inline" onsubmit="return changeIDisNaN()">
                                  <select name="conditionid" class="form-control">
                                  	  <option>选择条件</option>
                                      <option value="0">帖子ID</option>
                                      <option value="1">评论内容</option>
                                      <option value="2">用户名</option>
                                      <option value="3">手机号</option>
                                  </select>
                                  
                                  <div class="form-group">
                                    <label for="exampleInputEmail2" class="sr-only"></label>
                                    <input type="text" class="form-control" name="conditionText" id="keyWord" placeholder="请输入条件内容">
                                  </div>
                                  
                                  <select name="sortid" class="form-control">
                                      <option>选择排序</option>
                                      <option value="0">点赞正顺</option>
                                      <option value="1">点赞倒顺</option>
                                      <option value="2">发布时间正顺</option>
                                      <option value="3">发布时间倒顺</option>
                                  </select>
                                  
                                  <button type="submit" class="btn btn-default">搜索</button>
                                </form>
                            </div>
                            
                            <div class="box col-md-12">
                                <p>
                                    <a class="btn btn-default btn-sm" href="">
                                    	<i class="glyphicon glyphicon-check"></i>全选
                                    </a>
                                    <a class="btn btn-default btn-sm" href="">
                                    	<i class="glyphicon glyphicon-trash"></i>批量删除
                                    </a>
                                </p>
                            </div>
                            
                            <div class="box-content">
                                <table class="table table-striped table-bordered responsive" id="groupList">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>评论内容</th>
                                            <th>帖子ID</th>
                                            <th>点赞</th>
                                            <th>用户名</th>
                                            <th>手机号</th>
                                            <th>发布时间</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
										<%postCommentList.forEach(function(item, index){ %>
											<tr>
												<td>
													<label>
														<input value="<%= item.commentId%>" type="checkbox"/>  <%= index+1%>
													</label>
												</td>
												<td class="center"><%=item.commentContent%></td>
												<td class="center"><%=item.topicNumber%></td>
												<td class="center"><%=item.likeCount%></td>
												<td class="center"><%=item.nickName%></td>
												<td class="center"><%=item.userName%></td>
												<td class="center"><%=item.createDate%></td>
												<td class="center">
													<a class="btn btn-danger" name="postCommentDel" id="<%=item.commentId%>" href="javascript:void(0)">
	                                                    <i class="glyphicon glyphicon-trash icon-white"></i> 删除
	                                                </a>
												</td>
											</tr>
										<%})%>	
                                    </tbody>
                                </table>
                                <nav>
                                    <ul class="pager">
                                        <li class="<%=(currentPage==1)?'disabled':''%>"><a href="/admin/postComment?pageIndex=<%=currentPage-1%>&pageSize=10&conditionid=<%=params.conditionid%>&conditionText=<%=params.conditionText%>&sortid=<%=params.sortid%>">上一页</a></li>
                                        <li>第<%=currentPage%>页</li>
                                        <li><a href="/admin/postComment?pageIndex=<%=(parseInt(currentPage)+1)%>&pageSize=10&conditionid=<%=params.conditionid%>&conditionText=<%=params.conditionText%>&sortid=<%=params.sortid%>">下一页</a></li>
                                        <li>共<%= (Math.round(totalCount/10))%>页</li>
                                        <li>共<%= (totalCount)%>条</li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <!--/row-->
                <!-- content ends -->
            </div>
            <!--/#content.col-md-0-->
        </div>
        <!-- 中间空白区 starts  -->
        <div class="row">

        </div>
        <!-- 中间空白区 ends  -->
        <hr />
        <!-- 底部版权信息 starts  -->
        <% include ./layout/footer.html %>
        <!-- 底部版权信息 ends-->
    </div>
    <!-- requirejs导入需要的js插件以及自定义模块 -->
    <script src="/javascripts/vendor/require.min.js" data-main="/javascripts/vendor/post-main.js"></script>
    <!--<script src="http://apps.bdimg.com/libs/require.js/2.1.11/require.min.js" data-main="javascripts/vendor/index-main.js"></script>-->
</body>
</html>
