<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>推送给粉丝团</title>
    <% include ./layout/headmeta.html %>
</head>

<body>
    <!-- topbar starts -->
    <% include ./layout/topbar.html %>
    <!-- topbar ends -->
    <div class="ch-container">
        <div class="row">
            <!-- left menu starts -->
            <% include ./layout/leftmenu.html %>
            <!-- left menu ends -->
            <!--/span-->
            <!-- left menu ends -->
            <div id="content" class="col-lg-10 col-sm-10">
                <!-- content starts -->
                <div>
                    <ul class="breadcrumb">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">Tables</a>
                        </li>
                    </ul>
                </div>
                <!--/row-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="box-inner">
                            <div class="box-header well" data-original-title="">
                                <h2><i class="glyphicon glyphicon-user"></i>添加推送信息</h2>
                                <div class="box-icon">
                                    <a href="#" class="btn btn-minimize btn-round btn-default"><i class="glyphicon glyphicon-chevron-up"></i></a>
                                    <a href="#" class="btn btn-close btn-round btn-default"><i class="glyphicon glyphicon-remove"></i></a>
                                </div>
                            </div>
                            <div class="box-content">
                                <form class="form-horizontal" action="/admin/pushfansGroupAdd" method="post">
                                	
                                	<div class="form-group">
	                                    <label for="groupId" class="col-sm-2 control-label">粉丝团：</label>
	                                    <div class="col-sm-3">
                                        	<select class="form-control" name="groupId" id="groupId" required="required">
                                        		<option value="">--请选择明星--</option>
                                        		 <% groupList.forEach(function(item, index){ %>
                                        		 	<option value="<%=item.groupId%>"><%=item.starName%></option>
                                        		 <% })%>
                                        	</select>
                                        	<label class="control-label"><font color="DB4854"><span id="starSpan"></span></font></label>
	                                    </div>
	                                </div>
                                	
                                    <div class="form-group">
                                        <label for="pushContent" class="col-sm-2 control-label">推送内容</label>
                                        <div class="col-sm-3 col-offset-3">
                                            <textarea class="form-control" rows="3" id="pushContent" name="pushContent" required="required" placeholder="请输入推送内容"></textarea>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label for="releaseDate" class="col-sm-2 control-label">是否定时</label>
                                        <div class="col-sm-3 ">
                                            <input type="text" class="form-control" id="releaseDate" name="releaseDate" onclick="laydate({format: 'YYYY-MM-DD hh:mm:ss',istime: true})">
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button type="submit" class="btn btn-primary ">执行推送</button>
                                            <button type="button" onclick="javascript:history.back(-1)" class="btn btn-default">
                                            	&nbsp;&nbsp;&nbsp;返回&nbsp;&nbsp;&nbsp; 
                                            </button>
                                        </div>
                                    </div>
                                    
                                </form>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <!--/row-->
                <!-- content ends -->
            </div>
            <!--/#content.col-md-0-->
        </div>
        <!-- 中间空白区 starts  -->
        <div class="row">

        </div>
        <!-- 中间空白区 ends  -->
        <hr />
        <!-- 底部版权信息 starts  -->
        <% include ./layout/footer.html %>
        <!-- 底部版权信息 ends-->
    </div>
    <!-- requirejs导入需要的js插件以及自定义模块 -->
    <!--<script src="/javascripts/vendor/require.min.js" data-main="/javascripts/vendor/index-main.js"></script>-->
    <script src="http://apps.bdimg.com/libs/require.js/2.1.11/require.min.js" data-main="/javascripts/vendor/index-main.js"></script>
</body>
</html>
