<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>编辑视频</title>
     <% include ./layout/headmeta.html %>
    <link rel="stylesheet" type="text/css" href="/javascripts/vendor/webuploader-0.1.5/webuploader.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/vendor/jquery-ui.min.css">
</head>

<body>
    <!-- topbar starts -->
    <% include ./layout/topbar.html %>
    <!-- topbar ends -->
    <div class="ch-container">
        <div class="row">
            <!-- left menu starts -->
            <% include ./layout/leftmenu.html %>
            <!-- left menu ends -->
            <!--/span-->
            <!-- left menu ends -->
            <div id="content" class="col-lg-10 col-sm-10">
                <!-- content starts -->
                <div>
                    <ul class="breadcrumb">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">Tables</a>
                        </li>
                    </ul>
                </div>
                <!--/row-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="box-inner">
                            <div class="box-header well" data-original-title="">
                                <h2><i class="glyphicon glyphicon-user"></i>编辑视频</h2>
                                <div class="box-icon">
                                    <a href="#" class="btn btn-minimize btn-round btn-default"><i class="glyphicon glyphicon-chevron-up"></i></a>
                                    <a href="#" class="btn btn-close btn-round btn-default"><i class="glyphicon glyphicon-remove"></i></a>
                                </div>
                            </div>
                            <div class="box-content">
                                <p class="bg-warning"></p>
                                <form class="form-horizontal" action="/admin/video-edit" method="post" >
                                  	
                                  	<input type="hidden" id="videoId" name="videoId" value="<%=video.videoId%>" title="视频ID" />
                                  	
                                  	<div class="form-group" id="div_1">
                                        <label for="starName" class="col-sm-2 control-label">视频简介:</label>
                                        <div class="col-sm-3" id="">
                                            <textarea class="form-control" rows="3" id="videoDesc" name="videoDesc" placeholder="请添加视频的简介"><%=video.videoDesc%></textarea>
                                        </div>
                                    </div>
                               
	                                <div class="form-group">
	                                    <label for="" class="col-sm-2 control-label">截图：</label>
	                                    <div class="col-sm-6">
	                                        <div id="uploader" class="wu-example">
	                                            <!-- 用来存放文件信息 -->
	                                            <div id="thelist" class="uploader-list"></div>
	                                            <%if(video.picture != null && video.picture != ''){%>
                                                	<div class="item" id="headItem">
                                                		<h5 class="info"><%=video.picture%></h5>
                                                		<img class="imageStarLogo" src="http://7xl3sp.com2.z0.glb.qiniucdn.com/<%=video.picture%>"/>
                                                		<input type="hidden" name="starLogo" class="qkey" value="<%=video.picture%>"/>
                                                		<a class="delpic" id="delImg" value="<%=video.picture%>"   href="#">删除</a>
                                                	</div>
                                                <%}%>
	                                            <input type="hidden" name="" value="<%= qntoken%>" id="qntoken" title="七牛key"/>
	                                            <br />
	                                            <div class="btns" id="div_2">
	                                                <div id="picker">选择文件</div>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </div>
                               		
                                	<div class="form-group" id="div_3">
                                        <label for="starName" class="col-sm-2 control-label">视频链接:</label>
                                        <div class="col-sm-3" id="">
                                            <input type="text" class="form-control" id="videoAddress" name="videoAddress" value="<%=video.videoAddress%>" placeholder="视频链接">
                                        </div>
                                    </div>
	                            	
	                                <div class="form-group">
	                                    <div class="col-sm-offset-2 col-sm-10">
	                                        <button type="submit" class="btn btn-info">保存</button>
	                                         &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
	                                        <a class="btn btn-default" href="/admin/videoList">返回</a>
	                                    </div>
	                                </div>
                           		</form>
                        	</div>
                    	</div>
                    <!--/span-->
                </div>
                <!--/row-->
                <!-- content ends -->
            </div>
            <!--/#content.col-md-0-->
        </div>
        <!-- 中间空白区 starts  -->
        <div class="row">

        </div>
        <!-- 中间空白区 ends  -->
        <hr />
        <!-- 底部版权信息 starts  -->
        <% include ./layout/footer.html %>
        <!-- 底部版权信息 ends-->
    </div>
      </div>
    <!-- requirejs导入需要的js插件以及自定义模块 -->
    <script src="/javascripts/vendor/require.min.js" data-main="/javascripts/vendor/message-main.js"></script>
    <!--<script src="http://apps.bdimg.com/libs/require.js/2.1.11/require.min.js" data-main="javascripts/vendor/index-main.js"></script>-->
</body>
</html>
