<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <p><span>©2014 版权所有 上海罗馥缇电子商务有限公司</span>|<span>沪ICP备14029796号</span></p>
                <p><span>地址：上海市普陀区曹杨路362弄15号金阳大厦2204 </span>|<span>电话：021-32568315</span></p>
            </div>
            <div class="col-md-3">
                <p id="safecheck">
                    <a href="http://webscan.360.cn/index/checkwebsite/url/www.handouer.cn"><img border="0" src="http://img.webscan.360.cn/status/pai/hash/dff2a808c8da2cc8ac6aa8a3a878eba5/?size=74x27"/></a>
                </p>
            </div>
        </div>
    </div>
</footer>
<script type="text/javascript" src="/javascripts/home/navslider.js"></script>

<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?dca04c4a9acf1cb461cd2b4286ec2deb";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
