<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container container-header">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/portal/home"><img src="/images/portal/shequ.png" /></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/portal/home?url=home">韩豆App</a><span>|</span></li>
                <li><a href="/portal/category">粉丝团</a><span>|</span></li>
                <li><a href="/portal/news">独家资讯</a><span>|</span></li>
                <li><a href="/portal/topic">高清图</a><span>|</span></li>
                <li><a href="/portal/video">视频</a><span>|</span></li>
                <li><a href="/portal/activity">最新活动</a></li>
            </ul>
        </div>
    </div>
</nav>
