<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="keywords" content="韩豆官网,韩豆app,韩豆咖派,EXO,韩粉社区,最新韩剧,韩国综艺,韩国电视剧,韩流快讯,高清图">
    <meta name="description" content="韩豆app,韩豆咖派,最大的韩粉社区,最权威的粉丝团的,大量的活动可以赢取奖品,使用的同时即可获得积分豆币可用来兑换精美礼品,海量高清精美图片满足你的收藏欲">
    <!-- webkit内科渲染 -->
    <meta name="renderer" content="webkit">
    <!-- 百度站长工具验证及qq登录验证 -->
    <meta name="baidu-site-verification" content="9QLlCckvty" />
    <meta property="qc:admins" content="1457734614601647552636" />
    <!-- 禁止百度手机打开时转码 -->
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="360-site-verification" content="ffba453b3349992d445f28afe2b53266" />