<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>添加背包</title>
    <% include ../layout/headmeta.html %>
    <link rel="stylesheet" type="text/css" href="/javascripts/vendor/webuploader-0.1.5/webuploader.css">
</head>

<body>
    <!-- topbar starts -->
    <% include ../layout/topbar.html %>
    <!-- topbar ends -->
    <div class="ch-container">
        <div class="row">
            <!-- left menu starts -->
            <% include ../layout/leftmenu.html %>
            <!-- left menu ends -->
            <!--/span-->
            <!-- left menu ends -->
            <div id="content" class="col-lg-10 col-sm-10">
                <!-- content starts -->
                <div>
                    <ul class="breadcrumb">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">Tables</a>
                        </li>
                    </ul>
                </div>
                <!--/row-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="box-inner">
                            <div class="box-header well" data-original-title="">
                                <h2><i class="glyphicon glyphicon-user"></i>添加背包</h2>
                                <div class="box-icon">
                                    <a href="#" class="btn btn-minimize btn-round btn-default"><i
                                            class="glyphicon glyphicon-chevron-up"></i></a>
                                    <a href="#" class="btn btn-close btn-round btn-default"><i
                                            class="glyphicon glyphicon-remove"></i></a>
                                </div>
                            </div>
                            <div class="box-content">
                                <form class="form-horizontal" action="/admin/bag-add" onsubmit="return checkBagForm()" id="bagForm" method="post">
                                     <div class="form-group">
	                               	  <label for="starName" class="col-sm-2 control-label">背包类型:</label>
		                                <div class="col-sm-10" id="div_1">
		                                  <div class="">
		                                      <select   name="ticketType" id="select1" onchange="openBean(),getText(this,'ticketName')">
												<option value="1">每日打卡券</option>
												<option value="2">打卡券</option>
												<option value="3">豆币券</option>
												<option value="4">零食礼包</option>
												<option value="5">专辑券</option>
												<option value="6">追星大礼包</option>
											</select>
											<input type="hidden" name="ticketName"/>
											<select   name="parValue" id="select2">
												<option value="">--请选择豆币券类型--</option>
												<option value="10">10豆币券</option>
												<option value="20">20豆币券</option>
												<option value="50">50豆币券</option>
												<option value="100">100豆币券</option>
											</select>
		                                  </div>
		                                </div>
	                                </div>
	                                <div class="form-group">
	                               	  <label for="starName" class="col-sm-2 control-label">背包类型:</label>
		                                <div class="col-sm-10" id="">
		                                 <div class="">
		                                      <select   name="isSubstance" class="col-sm-2" id="isSubstance">
												<option value="0">虚拟</option>
												<option value="1">实物</option>
											</select>
		                                </div>
	                                </div>
	                                </div>
                                    <div class="form-group">
                                        <label for="uploader" class="col-sm-2 control-label">logo</label>
                                        <div class="col-sm-6" id="div_2">
                                            <div id="uploader" class="wu-example">
                                                <!-- 用来存放文件信息 -->
                                                <div id="thelist" class="uploader-list"></div>
                                                <input type="hidden" value="<%= qntoken%>" id="qntoken"/>
                                                <div class="btns">
                                                    <div id="picker" class="picker">选择文件</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                   <div class="form-group" id="div_3">
                                        <label for="nickName" class="col-sm-2 control-label">券说明</label>
                                        <div class="col-sm-3">
                                            <input type="text" class="form-control" id="ticketUsage" name="ticketUsage" placeholder="券说明">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button type="submit" class="btn btn-success">保存</button>
                                            &nbsp;&nbsp;&nbsp;&nbsp;
                                            <a href="/admin/bag_list" class="btn btn-default">返回</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <!--/row-->
                <!-- content ends -->
            </div>
            <!--/#content.col-md-0-->
        </div>
        <!-- 中间空白区 starts  -->
        <div class="row">

        </div>
        <!-- 中间空白区 ends  -->
        <hr />
        <!-- 底部版权信息 starts  -->
        <% include ../layout/footer.html %>
        <!-- 底部版权信息 ends-->
    </div>
    <!-- requirejs导入需要的js插件以及自定义模块 -->
    <script src="/javascripts/vendor/require.min.js" data-main="/javascripts/vendor/user-verfiy.js"></script>
    <!--<script src="http://apps.bdimg.com/libs/require.js/2.1.11/require.min.js" data-main="javascripts/vendor/index-main.js"></script>-->
</body>
</html>
