<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>礼品兑换列表</title>
    <% include ../layout/headmeta.html %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/vendor/jquery-ui.min.css">
</head>

<body>
    <!-- topbar starts -->
    <% include ../layout/topbar.html %>
    <!-- topbar ends -->
    <div class="ch-container">
        <div class="row">
            <!-- left menu starts -->
            <% include ../layout/leftmenu.html %>
            <!-- left menu ends -->
            <!--/span-->
            <!-- left menu ends -->
            <div id="content" class="col-lg-10 col-sm-10">
                <!-- content starts -->
                <div>
                    <ul class="breadcrumb">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">Tables</a>
                        </li>
                    </ul>
                </div>
                <!--/row-->
                <div class="row">
                    <div class="box col-md-12">
                        <div class="box-inner">
                            <div class="box-header well" data-original-title="">
                                <h2><i class="glyphicon glyphicon-user"></i>礼品兑换列表</h2>
                                <div class="box-icon">
                                    <a href="#" class="btn btn-minimize btn-round btn-default"><i
                                            class="glyphicon glyphicon-chevron-up"></i></a>
                                    <a href="#" class="btn btn-close btn-round btn-default"><i
                                            class="glyphicon glyphicon-remove"></i></a>
                                </div>
                            </div>
                          
							 <div class="box col-md-12">
									<form class="form-inline" action="/admin/gift-exchange-list" method="get">
										<label for="exampleInputEmail2">选择时间: 从</label>
										<div class="form-group">
											<input type="text" class="form-control" onclick="laydate({format: 'YYYY-MM-DD hh:mm:ss',istime: true})" name="startDate" id="startDate" placeholder="">
										</div>
										<label for="exampleInputEmail2">到</label>
										<div class="form-group">
											<input type="text" class="form-control" onclick="laydate({format: 'YYYY-MM-DD hh:mm:ss',istime: true})" name="endDate" id="endDate" placeholder="">
										</div>
										<select class="form-control" name="postChoose">
											<option value="1">用户名</option>
											<option value="2">礼品名称</option>
											<option value="3">姓名</option>
											<option value="4">手机号</option>
										</select>
										<div class="form-group">
											<input type="text" class="form-control" name="keyWord" id="exampleInputName2" placeholder="">
										</div>
										<select class="form-control" name="state">
											<option value="">--订单状态--</option>
											<option value="0">待确定</option>
											<option value="1">准备中</option>
											<option value="2">已出发</option>
											<option value="-1">已取消</option>
										</select>
										<select class="form-control" name="order">
											<option value="">选择排序</option>
											<option value="1">创建时间倒序</option>
											<option value="2">创建时间正序</option>
											<option value="3">发送时间倒序</option>
											<option value="4">发送时间正序</option>
										</select>
										<button type="submit" class="btn btn-default">搜索</button>
									</form>
								</div>
                            <div class="box-content">
                                <table class="table table-striped table-bordered responsive">
                                    <thead>
                                        <tr>
                                        	<th>序号</th>
                                            <th>用户名</th>
                                            <th>礼品名称</th>
                                            <th>姓名</th>
                                            <th>手机号</th>
                                            <th>收货地址</th>
                                            <th>所需豆币</th>
                                            <th>订单状态</th>
                                            <th>快递公司</th>
                                            <th>快递单号</th>
                                            <th>备注</th>
                                            <th>创建时间</th>
                                            <th>发送时间</th>
											<th>操作</th>                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                      	<form class="form-inline" action="" method="get">
                                      	<%list.forEach(function(item,index){%>
                                        <tr>
                                        	<td class="center">
                                        		<%=index+1%>
                                            </td>
                                            <td class="center">
                                            	<%=item.nickName%>
                                            </td>
                                            <td class="center">
                                            	<%=item.giftName%>
                                            </td>
                                            <td class="center">
                                            	<%=item.name%>
                                            </td>
                                            <td class="center">
                                            	<%=item.phone%>
                                            </td>
                                            <td class="center">
                                            	<%=item.details%>
                                            </td>
                                            <td class="center">
                                            	<%=item.giftBean%>
                                            </td>
                                            <td class="center">
                                            	<%if(item.state == 0){%>
                                            		<span class="label-default label label-default">待确定</span>
                                            	<%}else if (item.state ==1){%>
                                            		<span class="label-warning label label-default">已准备</span>
                                            	<%}else if(item.state==2){%>
                                            		<span class="label-success label label-default">已发送</span>
                                            	<%}else if(item.state==-1){%>
                                            		<span class="label-default label label-danger">已取消</span>
                                            	<%}else if(item.state ==-2){%>
                                            		<span class="label-default label label-danger">已删除</span>
                                            	<%}else{%>
                                            		<span class="label-default label label-danger">未知</span>
                                            	<%}%>	
                                            </td>
                                            <td class="center">
                                            	<%=item.expressName%>
                                            </td>
                                            <td class="center">
                                            	<%=item.expressNumber%>
                                            </td>
                                            <td class="center">
                                            	<%=item.remarks%>
                                            </td>
                                            <td class="center">
                                            	<%=item.createDate%>
                                            </td>
                                            <td class="center">
                                            	<%if(item.exchangeTime !=null){%>
                                            	<%=item.exchangeTime%>
                                            	<%}else{%>
                                            	<%=item.createDate%>
                                            	<%}%>
                                            </td>
                                            <td class="center">
                                            	<%if(item.state != -1 && item.state !=-2){%>
                                            	<a class="btn btn-info btn-xs"  href="/admin/update-gift-exchangeUi?userId=<%=item.userId%>&id=<%=item.id%>&addressId=<%=item.addressId%>&giftId=<%=item.giftId%>" id="" name="updateState">
                                                    <i class="glyphicon glyphicon-edit icon-white"></i>
                                                    	编辑
                                                </a>
                                                <%}%>
												 <a class="btn btn-danger btn-xs" name="delete-exchange" id="<%=item.id%>" href="javascript:void(0)">
                                                    <i class="glyphicon glyphicon-trash icon-white"></i>
                                                  	  删除
                                                </a>
                                            </td>
                                        </tr>
                                        <%})%>
                                        </form>
                                    </tbody>
                                </table>
                                <nav>
                                    <ul class="pager">
                                    	<%if(currentPage==1){%>
                                    		<li class="disabled"><a href="#">上一页</a></li>
                                    	<%}else{%>
                                    		<li class=""><a href="/admin/gift-exchange-list?pageIndex=<%=currentPage-1%>&pageSize=10&startDate=<%=params.startDate%>&endDate=<%=params.endDate%>&postChoose=<%=params.postChoose%>&keyWord=<%=params.keyWord%>&order=<%=params.order%>&state=<%=params.state%>">上一页</a></li>
                                    	<%}%>	
                                        <li>第<%=currentPage%>页</li>
                                        <li ><a href="/admin/gift-exchange-list?pageIndex=<%=(parseInt(currentPage)+1)%>&pageSize=10&startDate=<%=params.startDate%>&endDate=<%=params.endDate%>&postChoose=<%=params.postChoose%>&keyWord=<%=params.keyWord%>&order=<%=params.order%>&state=<%=params.state%>">下一页</a></li>
                                        <li>共<%=(totalCount%10==0?totalCount/10:Math.ceil(totalCount/10))%>页</li>
                                        <li>共<%= (totalCount)%>条</li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <!--/row-->
                <!-- content ends -->
            </div>
            <!--/#content.col-md-0-->
        </div>
        <!-- 中间空白区 starts  -->
        <!-- 中间空白区 ends  -->
        <hr />
        <!-- 底部版权信息 starts  -->
        <% include ../layout/footer.html %>
        <!-- 底部版权信息 ends-->
    </div>
    <!-- requirejs导入需要的js插件以及自定义模块 -->
    <script src="/javascripts/vendor/require.min.js" data-main="/javascripts/vendor/gift-main.js"></script>
    <!--<script src="http://apps.bdimg.com/libs/require.js/2.1.11/require.min.js" data-main="javascripts/vendor/index-main.js"></script>-->
</body>
</html>
