<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>组织审核列表</title>
    <% include ../layout/headmeta.html %>
</head>

<body>
    <!-- topbar starts -->
    <% include ../layout/topbar.html %>
    <!-- topbar ends -->
    <div class="ch-container">
        <div class="row">
            <!-- left menu starts -->
            <% include ../layout/leftmenu.html %>
            <!-- left menu ends -->
            <!--/span-->
            <!-- left menu ends -->
            <div id="content" class="col-lg-10 col-sm-10">
                <!-- content starts -->
                <div>
                    <ul class="breadcrumb">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">Tables</a>
                        </li>
                    </ul>
                </div>
                <!--/row-->
                <div class="row">
                    <div class="box col-md-12">
                        <div class="box-inner">
                            <div class="box-header well" data-original-title="">
                                <h2><i class="glyphicon glyphicon-user"></i>组织审核列表</h2>
                                <div class="box-icon">
                                    <a href="#" class="btn btn-minimize btn-round btn-default"><i
                                            class="glyphicon glyphicon-chevron-up"></i></a>
                                    <a href="#" class="btn btn-close btn-round btn-default"><i
                                            class="glyphicon glyphicon-remove"></i></a>
                                </div>
                            </div>
                          
							 <div class="box col-md-12">
									<form class="form-inline" action="/admin/list/userVerify" method="get">
										<label for="exampleInputEmail2">按:</label>
										<select class="form-control" name="postChoose">
											<option value="1">组织名称</option>
											<option value="2">明星</option>
										</select>
										<div class="form-group">
											<input type="text" class="form-control" name="keyWord" id="exampleInputName2" placeholder="请输入查询条件">
										</div>
										<select class="form-control" name="stateFlag">
											<option value="">审核状态</option>
											<option value="1">审核通过</option>
											<option value="0">审核未通过</option>
											<option value="-2">未审核</option>
										</select>
										<select class="form-control" name="uorder">
											<option value="">选择排序</option>
											<option value="1">粉丝数倒序</option>
											<option value="2">粉丝数正序</option>
											<option value="3">打卡数倒序</option>
											<option value="4">打卡数正序</option>
										</select>
										<button type="submit" class="btn btn-default">搜索</button>
									</form>
								</div>
                            <div class="box-content">
                                <table class="table table-striped table-bordered responsive">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>组织名称</th>
                                            <th>明星</th>
                                            <th>粉丝人数</th>
                                            <th>今日打卡数</th>
                                            <th>活跃度</th>
                                            <th>审核人员</th>
                                            <th>审核状态</th>
                                            <th>加入时间</th>
                                            <th>通过时间</th>
                                            <th>授权状态</th>
                                            <th>豆币</th>
											<th>操作</th>                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                      <% userList.forEach(function(item, index){ %>
                                      	<form class="form-inline" action="/admin/user/update-bean" method="get">
                                        <tr>
                                        	<input type="hidden" id="userId" name="userId" value="<%= item.userId%>"/>
                                            <td class="center"><%= index+1%></td>
                                            <td class="center">
                                            	<a href="/admin/updateUI/userVerify?userId=<%=item.userId%>"><%= item.nickName%></a>
                                            </td>
                                            <td class="center">
                                            <%if(item.verifyState == 1){%>
                                            	<%= item.starName%>
                                            <%}%>	
                                            </td>
                                            <td class="center">
                                            <%if(item.verifyState == 1){%>	
                                            	<%= item.fansCount%>
                                            <%}%>	
                                            </td>
                                            <td class="center">
                                            <%if(item.verifyState == 1){%>		
                                            	<a href="/admin/user/query-org-rec?userId=<%=item.userId%>"><%= item.todayRecordCount%></a>
                                            <%}%>	
                                            </td>
                                            <td class="center">
                                            <%if(item.verifyState == 1){%>			
                                            	<a href="/admin/user/query-org-active?userId=<%=item.userId%>"><%= item.activeCount%></a>
                                            <%}%>	
                                            </td>
                                            <td class="center"><%= item.verifier%></td>
                                            <td class="center">
                                            <%if(item.verifyState == null){%>
                                                <span class="label-default label label-default">未审核</span>
                                            <%}else if(item.verifyState == 0){%>
                                            	<span class="label-warning label">审核未通过</span>
                                            <%}else if(item.verifyState == 1){%>
                                            	<span class="label-success label label-default">审核通过</span>
                                            <%}else{%>
                                            	<span class="label-warning label">未知</span>
                                            <%}%>	
                                           <!-- <%= item.verifyState%>-->
                                            
                                            </td>
                                            <td class="center"><%= item.createDate%></td>
                                            <td class="center">
                                            <%if(item.verifyState == 1){%>	
                                            	<%= item.verifyDate%>
                                            <%}%>
                                            </td>
                                            <td>
                                        	<%if(item.tokenState == 0){%>
                                        		<span style="color: orangered;font-weight: bold;">已过期</span>
                                        	<%}else if(item.tokenState == 1){%>
                                        		<span style="color: green;font-weight: bold;">已授权</span>
                                        	<%}else{%>
                                        		<span style="color: grey;font-weight: bold;">未授权</span>
                                        	<%}%>	
                                            </td>
                                            <td class="center" contenteditable="true">
                                            	<input type="text" value="<%= item.bean%>" name="bean" style="width:50px;height:20px"/>
                                            </td>
                                            <td class="center">
                                            	<%if(item.verifyState != -2){%>
                                                <button class="btn btn-default btn-xs" type="submit">
													<i class="glyphicon glyphicon-edit icon-white"></i>保存
												</button>
												<%}%>
                                                <%if(item.state == 1){%>
                                                <!--	javascript:updateUserState('<%=item.userId%>',0)-->
                                                <a class="btn btn-danger btn-xs" href="javascript:void(0)" name="updateState" id="<%=item.userId%>,0">
                                                    <i class="glyphicon glyphicon-remove icon-white"></i>
                                                    	取消发布
                                                </a>
                                                <%}else{%>
                                                <a class="btn btn-success btn-xs"  href="javascript:void(0)" id="<%=item.userId%>,1" name="updateState">
                                                    <i class="glyphicon glyphicon-ok icon-white"></i>
                                                    	立即发布
                                                </a>
                                                <%}%>
                                                <%if(item.verifyState != -1 && item.verifyState != null){%>
                                                <a class="btn btn-danger btn-xs"  href="javascript:void(0)" name="chedi-delete-user" id="<%=item.userId%>">
                                                    <i class="glyphicon glyphicon-trash icon-white"></i>
                                                  	  删除
                                                </a>
                                                <%}%>
                                            </td>
                                        </tr>
                                         </form>
                                          <% })%>
                                    </tbody>
                                </table>
                                <nav>
                                    <ul class="pager">
                                        <li class="<%=(currentPage==1)?'disabled':''%>"><a href="/admin/list/userVerify?pageIndex=<%=currentPage-1%>&pageSize=10&keyWord=<%=params.keyWord%>&postChoose=<%=params.postChoose%>&stateFlag=<%=params.delState%>&uorder=<%=params.order%>">上一页</a></li>
                                        <li>第<%=currentPage%>页</li>
                                        <li ><a href="/admin/list/userVerify?pageIndex=<%=(parseInt(currentPage)+1)%>&pageSize=10&keyWord=<%=params.keyWord%>&postChoose=<%=params.postChoose%>&stateFlag=<%=params.delState%>&uorder=<%=params.order%>">下一页</a></li>
                                        <li>共<%=(totalCount%10==0?totalCount/10:Math.ceil(totalCount/10))%>页</li>
                                        <li>共<%= (totalCount)%>条</li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <!--/row-->
                <!-- content ends -->
            </div>
            <!--/#content.col-md-0-->
        </div>
        <!-- 中间空白区 starts  -->
        <div class="row">

        </div>
        <!-- 中间空白区 ends  -->
        <hr />
        <!-- 底部版权信息 starts  -->
        <% include ../layout/footer.html %>
        <!-- 底部版权信息 ends-->
    </div>
    <!-- requirejs导入需要的js插件以及自定义模块 -->
    <script src="/javascripts/vendor/require.min.js" data-main="/javascripts/vendor/user-verfiy.js"></script>
    <!--<script src="http://apps.bdimg.com/libs/require.js/2.1.11/require.min.js" data-main="javascripts/vendor/index-main.js"></script>-->
</body>
</html>
