<!DOCTYPE html>
<html>
<head lang="zh">
    <meta charset="UTF-8">
    <title>狗血大片</title>
    <style>
        body {
            background: url(/images/handou.png) no-repeat 0 0 fixed;
            background-size:100% 100%;
        }
        a {
            position: absolute;
            bottom: 0;
            display:block;
            height:500px;
            width: 100%;
        }
    </style>
    <script>
        function toHome(){
            window.location.href = "http://www.handouer.cn/wx/weixin/handou"
        }
    </script>
</head>
<body>
<a href="javascript:;" onclick="toHome()">&nbsp;</a>
</body>
</html>