<li>初雪，怎能没有炸鸡和啤酒？</li>
<li>첫눈 어떻게 치킨과 맥주가 없지?</li>
<li>幸福的梦会让我感到更加不幸，一开始我就不该做幸福的梦</li>
<li>행복의 꿈가 더욱 불행한 대화를 나누면 해서 행복의 꿈을 접었다</li>
<li>一起慢慢变老是什么样的感觉，我想要……一起慢慢变老</li>
<li>함께 천천히 늙는 것은 어떤 느낌을 주고 싶다…. 함께 늙어 천천히</li>
<li>不管你了不了解这个世界，这个世界都不会让着你</li>
<li>네가 이 세상을 이해하지 않았는데, 이 세계가 당신에게 시키지 않을 것</li>
<li>打开你的心扉，有人会来的</li>
<li>당신의 마음의 문을 열고 올 것이다.</li>
<li>在我存在的世界，就算我消失，世界依然如故，只有我会被忘却</li>
<li>내가 존재하는 세계, 내가 사라지고, 나만 세계가 여전하다 잊</li>
<li>如果有必要相遇，就终究会遇到的</li>
<li>만남은 필요할 경우 닥칠 수 있는 것은 결국</li>
<li>如果遇不到就说明我们之间没必要相遇</li>
<li>만약 우리가 잘못해서 설명을 만날 필요가 없다고 간에 만남</li>
<li>只有做错的时候需要躲起来，别随便什么时候都躲起来。</li>
<li>잘못할 때만 필요하지 말고 숨어서 마음대로 아무 때나 숨어 버렸다.</li>
<li>爱情，是在性欲的基础上体会到的性快感的奴隶，</li>
<li>사랑은 성욕의 토대 위에서 느끼는 쾌락의 노예성</li>
<li>总是做着一个很悲伤的梦 梦见你很爱我</li>
<li>늘 하고 있는 매우 슬픈 꿈에서 나를 사랑하고 네가 꿈</li>
<li>不管你了不了解这个世界，这个世界都不会让着你。</li>
<li>네가 이 세상을 이해하지 않았는데, 이 세계가 당신에게 시키지 않을 것이다.</li>
<li>自古以来给买吃的就是喜欢。</li>
<li>자고로 먹을 것을 사 주는 것을 좋아한다.</li>
<li>嫉妒是最低等最幼稚的感情，是缺乏自信而且自卑的人才会有。</li>
<li>질투는 유치한 감정 등 가장 낮은 것은 자신감이 부족하고 있다. 없는 사람들이 열등감</li>
<li>我觉得人生在世，偶尔遇到困苦磨难。 </li>
<li>나는 인생을 살면서 시련을 겪었다. 가끔 만나고 곤란하다.</li>
<li>是上帝给我们机会来分辨清楚谁真谁假。</li>
<li>하나님은 우리에게 기회로 판단하고 있다. 정말 누가 누가 가짜</li>
<li>人生，可没有足够让人懂事的，那么漫长的时间。</li>
<li>삶을 충분하지 않게 할 수 있다면 긴 철 모르는 시간이다.</li>
<li>在一起，就是我对爱情的所有想象</li>
<li>함께 있으면 내가 사랑에 대한 모든 상상</li>
<li>有你的地方才是我应该呆的地方。 </li>
<li>당신이 있는 곳이 있는 곳이다. 나는 멍하니</li>
<li>当狼遇到老虎的时候，是不会叫的</li>
<li>늑대가 될 때는 호랑이를 만나지 않는</li>
<li>我人生最大窘境就是，即使伤心也不会降低食欲。</li> 
<li>내 인생이 나와도 슬프다로 몰리고 있지 않을 것으로 식욕을 낮추</li>
<li>人生就像洋葱。每剥下一层，就会流下眼泪。</li> 
<li>인생은 마치 양파.모든 눈이 한 겹 바르다, 곧 눈물을 흘렸다.</li>
<li>比起谎话，真话安慰人的功效要大出十倍。</li>
<li>참말도 거짓말을 하기보다는 사람을 위로하는 효능이 있어야 한다. </li>
<li>因为喜欢……</li>
<li>좋아하니까……</li>
<li>也许是善缘，也许是孽缘，人们总是会很神奇的有所关联</li>
<li>그것을 통하여 좋은 인연 악연이 아주 신기한 사람들은 항상 연관돼</li>
<li>你的希望越大，失望就越大。</li>
<li>당신의 기대가 큰 만큼 실망도 크다.</li>
<li>真好啊，你，能在身边。</li>
<li>좋군요, 당신 곁에 있어. </li>
<li>天太冷，因为天太冷，我也有点神志不清了。</li>
<li>너무 춥기 때문에, 나도 날이 너무 추워서 좀 정신이 맑지 않다.</li>
<li>你呀，和我一样，帅到只靠脸蛋也能吃饭</li>
<li>이 사람아, 나와 마찬가지로 얼굴만으로는 잘생길 수 있을 것으로 밥을 먹</li>
<li>你可以随心所欲，活得潇潇洒洒的。</li>
<li>너 맘대로 할수 있다 고잘 사는 견해다.</li>
<li>眼前看见的，并不一定是事情的全部......</li>
<li>눈앞이 본 것이 아니라 일의 전부가......</li>
<li>如果那是事实的话，总会浮出水面</li>
<li>존재하지는 않았을 것이 존재하지 않습니다. </li>
<li>存在的事情不会不存在。</li>
<li>존재하지는 않았을 것이 존재하지 않습니다.</li>
<li>离开他的目光，我连未来都看不见。</li>
<li>그의 눈빛을 떠나 나는 미래까지 보이지 않았다.</li>
<li>那些承认自己错误的人 是多么美丽的人</li>
<li>그 사람의 잘못을 인정했던 것은 얼마나 아름다운 사람</li>
<li>选择权给您，而后果由我来承担。</li>
<li>당신은 당신의 선택권은 내가 결과를 초래하기 위해 부담한다.</li>
<li>去爱吧，就像不曾受过伤一样 </li>
<li>사랑하라, 마치 한번도 상처 받지 않은 것처럼</li>
<li>不要回头看，也不要担心未来，认真过好现在的每一天。</li>
<li>뒤를 돌아보지 말고 미래를 걱정하지 말고 진지하게 지금의 하루 하루 잘 보낸 것이다.</li>
<li>人生在世，经常会感觉到这个世界真小。</li>
<li>인생을 살면서 자주 느끼게 될 것 이 세상은 정말 작다.</li>
<li>不要我的話，就不要碰我</li>
<li>나는 하지 말면 건들지 마세요</li>
<li>每个人的内心都活着不一样的自己，别的人格。</li>
<li>모든 사람들의 마음이 살아 숨 쉬지 않고 자신과 같은 다른 인격.</li>
<li>我不交朋友的,我不需要朋友</li>
<li>나는 친구를 사귀는 친구가 필요하지 않는다</li>
<li>想要放弃的自己，想要坚持的自己。</li>
<li>포기하려 하는 자신을 위해 지켜야 하는 자신이다.</li>
<li>努力保持清醒，只怕再次睁眼，便已不再是我。</li> 
<li>제 정신을 유지하기 위해 노력하기만 하면, 다시 눈을 뜨면 더 이상 나에게 있다.</li>
<li>我是唯一的，所以，绝对不能忘记我的眼神！</li>
<li>유일한 나는 결코 잊어서는 안 되기 때문에 나의 눈빛은!</li>
<li>一如往常 安静的、像不存在一样颓废的活著吧</li>
<li>조용한 그대로야, 존재하지 않는 것처럼 퇴폐적인 것 같죠처럼</li>
<li>以后不要再说kill me 而是向我发出heal me的邀请吧</li>
<li>이후 더 이상 말하지 마라 나에게 보낸 것이 아니라 kill me해 보자 me heal</li>
<li>希望你不会再因为遇到我而发生不幸的事情.</li>
<li>다시가 되지 않기를 바라 발생하기 때문에 나를 만나면 불행한 일이다.</li>
<li>我不是解除魔法就能变成帅气王子的野兽,我只是个怪物</li>
<li>내가 마법 해제할 수 있는 것이 아니다 멋진 짐승으로 변해 왕자가 나는 그저 괴물</li>
<li>有来生的话,我的身体,时间,记忆,全部给你</li>
<li>있다면, 내 내생, 시간, 몸이 기억을 모두 너에게</li>
<li>记住,我迷上你的时间</li>
<li>기억하라, 나는 너의 시간에 심취</li>
<li>不要凡事询问,发挥一下想象力吧</li>
<li>묻지 마라, 모든 일은 상상력을 발휘해 보세요</li>
<li>初恋，没死，活着呢，万幸地。</li>
<li>첫사랑인데, 죽고 살아 있지 않았는데 고맙게도.</li>
<li>总是用男人的眼神来谈资格的话,小小我把你眼睛挖出来</li>
<li>언제나 남자의 자격의 말을 눈빛으로 이야기하고 작은 내가 당신 눈을 빼버리겠다고 맹세했다.</li>
<li>这么随便对我的女人，你是第一个。</li>
<li>이렇게 마음대로 나에 대한 여자를 당신은 처음이다.</li>
<li>纵有疾风起，人生不言弃</li>
<li>세로부터 인생이 세찬 바람이 그래도 포기</li>
<li>未来的日子保重，多笑。</li>
<li>미래의 생활, 건강에 유의하세요. 웃어라</li>
<li>伤疤要愈合了，将过去的痛苦记忆抛开吧。</li>
<li>흉터는 아물려면 과거의 아픔 기억을 떨쳐 버리자.</li>
<li>用泪水刷洗太过残酷，一次足矣。</li>
<li>눈물로 씻어 내고 한번은 너무 가혹하다.이다</li>
<li>就让过去的记忆蒙上尘埃吧。</li>
<li>설사 과거의 기억을 덮어라. 먼지.</li>
<li>长得帅的都叫偶吧！</li>
<li>잘생긴 하자!모두 부른 인형</li>
<li>对男人而言，初恋意味着什么？</li>
<li>남자들에게 첫사랑에 대한 의미는 무엇인가.</li>
<li>要是后悔选择就回来吧。高级的，优雅的，用力的，飞回来。</li>
<li>만약 돌아와 선택한 것을 후회하고 있다.고급스러운, 우아한, 힘차게 날고 돌아왔다.</li>
<li>我每次在不知不觉中被抢走记忆和时间。</li>
<li>나는 항상 자기도 모르는 사이에 기억과 시간을 빼앗기고 있다.</li>
<li>过去的那些都不重要，在只能活在一次的人生里，恩～？</li>
<li>과거의 그 중요하지 않아 한번밖에 살고 있는 인생 속에서 음~?</li>
<li>如果我没有王冠，我就不能保护你</li>
<li>만약 내가 안 왕관, 나는 그냥 당신을 보호</li>
<li>但，如果我拥有王冠，我就不能拥抱你</li>
<li>그러나 만약 제가 가진 왕관, 내가 못 껴안았다</li>
<li>仿佛一场仲夏夜之梦一样的时间,现在我该消失了</li>
<li>마치 한여름 밤의 꿈 한 차례의 시간, 지금 나는 그 사라졌다.</li>
<li>昨晚就像做梦一样</li>
<li>어젯밤에 꿈만 같아</li>
<li>不绊倒你，我哪有机会扶住你啊</li>!
<li>너, 내가 어디에 걸려 넘어지지 않는 기회가 있구나!네가 부축하다</li>
<li>当我们将情感加入到某个单词之时，它就开始产生了意义。</li>
<li>우리가 감정에 합류할 때 특정 단어를, 그것은 시작에 의미가 있다.</li>
<li>讨厌她，每天都穿着不同的衣服出门</li>
<li>그녀를 싫어하고 매일 다른 옷을 입고 외출</li>
<li>最讨厌的就是她毫无顾忌的就能发脾气</li>
<li>가장 싫어하는 것이 거침없는 그녀는 화를 낼 수 있을 것</li>
<li>有什么比吃饭活命还重要</li>
<li>무엇보다 중요한 식사를 하면서 생계를 유지하기도</li>
<li>捕梦网，它会滤除掉那些噩梦</li>
<li>꿈을 잡아 그것을 없애 버려 그 악몽 없어짔다</li>
<li>从现在开始喜欢我，如果可能，尽量真心喜欢。因为我已经喜欢上你了。</li>
<li>이제부터 내가 좋아. 만약 가능하다면 되도록 진심으로 좋아한다.난 벌써 좋아하게 되었다.</li>
<li>爱一个人到底什么感觉？“好像突然有了软肋，也突然有了铠甲。”</li>
<li>도대체 사람을 사랑하는 느낌은.'갑자기 생긴 것 같고 있다 갑자기 허."갑옷</li>
<li>在生命中，再无聊的时光，都是限量版！</li>
<li>이 생명 에서 다시 쓸데없는 시간 다 한정판!</li>
<li>故事发生在别人身上是故事，发生在自己身上，就是命运了。</li>
<li>배경은 다른 사람에게 이야기는 자신의 운명을 했다.</li>
<li>能原谅的，不说原谅也会原谅.</li>
<li>용서할 수 있는, 말하지 않으면 용서할 수도 용서하고 있다.</li>
<li>不能原谅的，说了原谅也不会原谅</li>
<li>용서할 수 없는 일도 용서하면서 용서하지 않을 것</li>
<li>难下决定的时候，什么都不要想</li>
<li>어려운 결정 할 때 아무 생각 말고</li>
<li>帅 是不是疯了</li>
<li>멋지다 미쳤니</li>
<li>你变漂亮了。</li>
<li>예뻐졌다</li>
<li>男人不喜欢眼泪,而喜欢成人类</li>
<li>남자를 좋아하지 않는 눈물을 흘리는가 하면 인간이 되는 것을 좋아한다.</li>
<li>你的两个肾还在吗？</li>
<li>너의 두개의 신장 계신 거죠?</li>
<li>属于我的天堂只有一个打工天堂。</li>
<li>나는 나의 아르바이트 천국이다. 단 하나의 천국</li>
<li>我会想你的，没你今晚可怎么过。</li>
<li>보고 싶을 거야, 너한테 어떻게 보낼 수 있다. 오늘 밤</li>
<li>我不能动手打女人，但是，在心里，我已经打了你了......</li>
<li>나는 여인을 때리면 안 됐지만, 나는 이미 마음 속에 너를 쳤다......</li>
<li>你这个疑妻症早期患者！</li>
<li>이 의처증 초기 환자!</li>
<li>说的真奢侈，不工作的时间对我来说都是奢侈。</li>
<li>말한 일을 하지 않는 사치스럽다 정말 시간이 나에게 모두 사치스럽다.</li>
<li>好笑，年轻男女之间哪有纯友谊。</li>
<li>웃겨，젊은　남녀　사이에　순수한 우정이　어디에 있다.</li>
<li>不要这样看着我，会心动。</li>
<li>이렇게 나를 보고 있지 말고 마음을 흔들었다.</li>
<li>我们的初次相遇，原来比记忆中还要早.....</li>
<li>우리의 첫 만남 기억 속에서, 원래보다 더 일찍.....</li>
<li>借口会由更迫切需要的人找出来的</li>
<li>핑계는 더 절실한 사람들이 찾아낸 곳</li>