<!DOCTYPE html>
<html>
<head lang="zh-cmn">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
    <title>访问出错</title>
    <style>
        body{
            background-color: #e1e0de;
        }
        .pic{
            display: inline-block;
            background: transparent url(http://7xj01w.com2.z0.glb.qiniucdn.com/icon80_smile.2x181c98.png) no-repeat 0 0;
            background-size: 80px;
            width: 80px;
            height: 80px;
        }
        .font{
            font-weight: 400;
            color: #000000;
        }
    </style>
</head>
<body>
    <div style="text-align: center">
        <p style="text-align: center">
            <i class="pic"></i>
        </p>
        <h4 class="font">请在微信客户端打开链接</h4>
    </div>
</body>
</html>