<!doctype html>
<html lang="zh">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="Cache-Control " content="no-cache,must-revalidate">
    <meta name="viewport"
          content="width=device-width, height=device-height, initial-scale=1">
    <title>狗血大片</title>
    <link href="/wx/stylesheets/handouerindex.css" rel="stylesheet" type="text/css"/>
    <style type="text/css">
	    body {
	    	background-color:#000;
	    	padding:20px 0;
	    }
	    .show {
		  max-height: 400px;
		  position: relative;
		}
    	.show img {
    		  max-height: 400px;
			  margin: 0 auto;
			  display: block;
    	}
    	.chinese, .korean {
    		text-align:center;
    		width: 360px;
    		white-space:nowrap;    
        	overflow:hidden;    
        	text-overflow:ellipsis;
    		position:relative;
    		left: 50%;
    		margin-left: -230px;
    		font-size: 16px;
    		z-index: 100;
    		color:#fff
    	}
    	.chinese {
    		top: -70px;
    	}
    	.korean {
    		top: -60px;
    	}
    </style>
</head>

<body>

<div class="show">
    <img src="<%= img%>"/>
    <div class="chinese"></div>
    <div class="korean"></div>
</div>

<div class="inputcontent">
     <div class="inputtitle">中文</div>
     <textarea id="zh">这是一个神奇的地方</textarea>
     <textarea id="kor">This is a magical place.</textarea>
</div>
<div class="taici" align="center">
    <button onclick="shuaxintaici();">切换台词</button>
    <button onclick="fanyi();">中译韩</button>
</div>
<div class="bottomcontent">
     <button class="btn" id="finish">完成</button>
</div>
<div class="moretaici">
    <ul>
        <%- include taici.html%>
    </ul>
</div>

<script type="text/javascript" src="/wx/javascripts/zepto.min.js"></script>
<script type="text/javascript" src="/wx/javascripts/touch.js"></script>
<script type="text/javascript" src="/wx/javascripts/base64.js"></script>
<script>

Zepto(function($){
	 var maxWidth = window.screen.availWidth;
	 var finalWidth = maxWidth * 3 / 5;
	 
	   $('#finish').click(function() {
		   var tempSrc = $('.show img').attr('src');
		   var tmpChinese = $('.chinese').text();
		   if(tmpChinese.length > 18) {
			   tmpChinese = tmpChinese.substring(0, 18) + '...';
		   }
//		   var tmpKorean = $('.korean').text();
//		   if(tmpKorean.length > Math.round(maxWidth / 16)) {
//			   tmpKorean = tmpKorean.substring(0, tmpKorean.length * 4 / 5) + '...';
//		   }
		   var chineseBase64Str = toBase64Str(tmpChinese);
//		   var koreanBase64Str = toBase64Str(tmpKorean);
		   var panelConfigurePrefixStr = "?watermark/3/image/aHR0cDovL2Ntcy1pbWcucWluaXVkbi5jb20vSU1HX1RFU1RmbG93ZXIuanBn/gravity/West/dx/0/text/";
		   var panelConfigureSuffixStr = "/font/5a6L5L2T/fontsize/300/fill/IzM2MDMwMw==/gravity/Center/dy/50";
		   //tempSrc = tempSrc + panelConfigurePrefixStr + chineseBase64Str + '/font/5a6L5L2T/fontsize/300/fill/d2hpdGU/text/' + koreanBase64Str + panelConfigureSuffixStr;
		   var resultSrc = "http://cms-img.qiniudn.com/IMG_TESTblack.jpg?watermark/3/image/"
				   + toBase64Str(tempSrc)
				   + "/gravity/NorthWest/dx/0/dy/30/text/"
				   + chineseBase64Str
				   + "/font/5b6u6L2v6ZuF6buR/fontsize/350/gravity/South/dy/60/fill/I2ZmZg=="
//				   + koreanBase64Str
//				   + "/font/5a6L5L2T/fontsize/350/gravity/South/dy/20/fill/I2ZmZg=="
		           + "/image/aHR0cDovL2Ntcy1pbWcucWluaXVkbi5jb20vSU1HX1RFU1R6aW11LnBuZw==/gravity/South/dy/30";
		   $('#resultPic').attr('src', resultSrc);
           //获取到返回的图片地址后跳转页面到完成页面
           window.location.href = '/wx/weixin/comp?path='+resultSrc;
	   });
	 
	   $('.chinese, .korean').css('margin-left', '-' + finalWidth / 2 + 'px').width(finalWidth);

	changeChineseBox($("#zh").val());
});

function toBase64Str(text){
    var encoded = Base64['encodeURI'](text);
    return encoded;
}
	  
//自动翻译
function fanyi(){
    var zh = $("#zh");
    $.post('/wx/weixin/fanyi', {content: $(zh).val()}, function(data){
        if($(zh).val() === ""){
            $("#kor").val("");
            return;
        }
        changeChineseBox(zh.val());
        changeKoreanBox(data.trans_result[0].dst);
        $("#kor").val(data.trans_result[0].dst);
    },'json');
}
//刷新台词
var taiciIndex = 0;
function shuaxintaici(){
 	$("#kor").empty();
     var moretaici = $(".moretaici>ul>li");
     $("#zh").val(moretaici[taiciIndex].textContent);
     changeChineseBox(moretaici[taiciIndex].textContent);
     taiciIndex++;
//     $("#kor").val(moretaici[taiciIndex].textContent);
//     changeKoreanBox(moretaici[taiciIndex].textContent);
     taiciIndex++;
     if(taiciIndex > moretaici.length-1){
         taiciIndex=0;
     }
 
}

var changeChineseBox = function(chinese) {
	$('.chinese').text(chinese);
};

var changeKoreanBox = function(korean) {
	$('.korean').text(korean);
}
      
    </script>
</body>

</html>
