<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<title>兑换进度</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/zepto.alert.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/scrollbar.css">
</head>
<body>
	<div id="wrapper" class="ibody">
		<!-- 顶部加载提示效果 -->
		<div id="scroller">
			<!-- 顶部加载提示效果 -->
			<div id="pullDown">
				<span class="pullDownIcon"></span><span class="pullDownLabel">下拉刷新...</span>
			</div>
			<%list.forEach(function(item){%>
			<div class="gift g-process-item" id="<%= item.id%>" data-userid="<%= item.user_id%>">
				<div class="g-date">
					<p><%= item.create_date%></p>
					<% if(item.delivery_status != 1 && item.delivery_status != 2){ %>
					<a href="javascript:delGift('<%= item.id%>');"><i class="icon-trash"></i></a>
					<%}%>
				</div>
				<div class="g-detail">
					<div class="gd1">
						<p class="gd1-p1"><strong class="base-color gift-name"><%= item.gift.gift_name%></strong></p>
						<p class="gd1-p2 write">
							<% if(item.delivery_status==0){%>待确认<%}%>
							<% if(item.delivery_status==1){%>准备中<%}%>
							<% if(item.delivery_status==2){%>已发货<%}%>
							<% if(item.delivery_status==-1){%>已取消<%}%>
						</p>
					</div>
					<div class="gd2">
						<p class="gd2-p1 gift-score-p">
							<strong class="gift-score">
							<% if(item.delivery_status ==0 || item.delivery_status == 1){%>
							冻结:<%= item.freeze_integral%>积分
							<%}else if(item.delivery_status == 2){%>
							花费:<%= item.gift.integral%>积分
							<%} else{%>未花费积分<%}%>
							</strong>
						</p>
						<p class="gd2-p2 warning">
							<% if(item.delivery_status == 0 ){%>
							<a href="javascript:cancelExchange('<%= item.id%>');" class="lack-score-color a-underline">取消兑换</a>
							<%} else if(item.delivery_status == 2){%>
							<a href="javascript:showGift('<%= item.user_id%>');" class="green-score a-underline">去晒礼品</a>
							<%}%>
						</p>
					</div>
				</div>
				<% if(item.delivery_status==2){%>
				<div class="express express-color">
					<div class="express-text">
						<p><%= item.express_name%></p>
						<p>快递单号：<%= item.express_number%></p>
					</div>
				</div>
				<%}%>
			</div>
			<%});%>
				<%
					if(list.length === 0) {
				%>
					<p class="no-data">你没有礼物正在兑换呦~~~</p>
				<%
					}
				%>
				<!-- 底部加载提示效果 -->
			<div id="pullUp">
				<span class="pullUpIcon"></span><span class="pullUpLabel">上拉加载更多...</span>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="http://apps.bdimg.com/libs/zepto/1.1.4/zepto.min.js"></script>
	<script type="text/javascript" src="/javascripts/zepto.alert.js"></script>
	<script type="text/javascript" src="/javascripts/iscroll.js"></script>
	<script type="text/javascript" src="/javascripts/common.js"></script>
	<script>
		Zepto(function($) {
			if($('.gift').length === 0) {
				$('#pullUp').hide();
				$('#pullDown').hide();
			}
			if($('.gift').length < 10) {
				$('#pullUp').hide();
			}
			if(screen) {
				$('#scroller').css('min-height', screen.height);
			}
			$(document).on('ajaxError', function(e, xhr, options){
				/* 需要全局ajaxError处理 */
				/*$.dialog({
					content : '出错了~ 请下拉刷新一下啦~~',
					title : 'ok',
					ok : function() {

					},
					lock : true
				});*/
			});
		});
		var refresh = function() {
			window.document.location.reload();
		};
		var offset = 1, pageSize = 10, isLoading = false;
		var loadMore = function(scroll) {
			if(!isLoading) {
				isLoading = true;
				offset++;
				var userId = $('.gift').eq(0).attr('data-userid');
				$.get("/lofti/api/gift/process/" + userId + "/" + offset + "/" + pageSize, function(data){
					if(data != null && data != '') {
						$(".gift.g-process-item").last().after(data);
					}
					isLoading = false;
					scroll.refresh();
				});
			}
		};
		//删除兑换记录
		function delGift(id){
			$.dialog({
				content : '确定删除吗?',
				title : '删除',
				ok : function() {
					//删除兑换记录
					$.ajax({
						type: 'DELETE',
						url: '/lofti/api/gift/' + id,
	//					data: JSON.stringify({ name: 'Zepto.js' }),
	//					contentType: 'application/json',
						success: function(data){
							//删除成功后将本条记录在页面上移除
							$("#"+id).remove();
						},
						error: function(xhr, type){
							//失败后提示
							$.dialog({
								content: '删除失败！',
								title: 'ok',
								ok: function(){

								}
							});
						}
					});
				},
				cancel:function(){

				},
				lock : true
			});
		}
		//取消兑换
		function cancelExchange(id){
			$.dialog({
				content : '确定取消兑换吗?',
				title : '取消',
				ok : function() {
					//取消兑换
					$.ajax({
						type: 'PUT',
						url: '/lofti/api/gift/' + id,
						success: function(data){
							//取消后修改兑换状态
							//成功后提示
							$.dialog({
								content: '取消成功！',
								title: 'ok',
								ok: function(){

								}
							});
							var giftDiv = $("#"+id);
							giftDiv.find(".gd1-p2.write").text("已取消");
							giftDiv.find(".gd2-p1").html("<small>未花费积分</small>");
							giftDiv.find(".gd2-p2.warning").html("");
						},
						error: function(xhr, type){
							//失败后提示
							$.dialog({
								content: '取消失败！',
								title: 'ok',
								ok: function(){

								}
							});
						}
					});
				},
				cancel:function(){

				},
				lock : true
			});
		}
		/**
		 * 晒礼品
		 * @param id
		 */
		function showGift(uid){
			var r = '';
			//获取粉丝团列表
			$.get('/lofti/api/gift/category/' +uid, function(data){
				var t = {};
				t.uid = uid;
				t.categoryList = data;
				r = JSON.stringify(t);
				//r = "{ uid:" + uid + ", categoryList:" + JSON.stringify(data) + "}";
				selectPhone();
			});
			function selectPhone(){
				var u = navigator.userAgent;
				var version = function(){
					return{
						android: u.indexOf('Android') > -1|| u.indexOf('Linux') > -1,
						iphone:	u.indexOf('iPhone') > -1
					}
				}();
				if(version.android){
					window.handou.callJavaFunction(r);//传递该用户加入的粉丝团列表
				}else if(version.iphone){
					if(Boolean(u.match(/OS [8-9]_\d[_\d]* like Mac OS X/i))){
						window.webkit.messageHandlers.kidol.postMessage(r);
					}else{
						window.nativeApis.logMessage(r);
					}
				}
			}

		}
	</script>
</body>
</html>





