<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<title></title>
	<meta charset="utf-8">
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<style type="text/css">
		body {
			margin: 0px;
			padding: 0px;
			background-color: #FFF;
			height: 300px;
		}
		#div1{
			height: 100%;
			overflow-y:visible;
		}
	</style>
	<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
	<script src="/javascripts/vendor/angular.min.js"></script>
	<script>
		
	</script>
</head>
<body>
	<div id="div1">
		<p>初始化redis中age数字为1</p>
		<p>age:<%=age%></p>
	</div>
</body>
</html>





