<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8">
		<title>组织授权页</title>
		<% include admin/layout/headmeta.html %>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="上海罗馥缇电子商务有限公司  内容管理系统">
		<meta name="author" content="上海罗馥缇电子商务有限公司">
		<link id="bs-css" href="/stylesheets/vendor/bootstrap-cerulean.min.css" rel="stylesheet">
		<link href="/stylesheets/vendor/charisma-app.css" rel="stylesheet">
		<link rel="shortcut icon" href="img/favicon.ico">	
	</head>
	<body>
		<!--<div class="ch-container">
		    <div class="row">
			    <div class="row">
			        <div class="col-md-12 center login-header">
			            <h2>组织授权</h2>
			        </div>
			        
			    </div>
			    <div class="row">
			        <div class="well col-md-5 center login-box">
			            <div class="alert alert-info" id="warn">任何一个组织登录都需要授权，请点击下方按钮授权</div>
			            <form class="form-horizontal" id="orgLoginform" method="post" onsubmit="return false;">
			                <fieldset>
			                    <div class="input-group input-group-lg">
			                    </div>
			
			                        <div class="col-md-12 center login-header">
							            <h4>恭喜您登录成功,点击下方按钮即可认证新浪微博授权。</h4>
			                    </div>
			
			                    <p class="center col-md-5">
			                        <a class="btn btn-primary btn-lg btn-block" href="https://api.weibo.com/oauth2/authorize?client_id=2851583478&response_type=code&redirect_uri=http://handouer.wicp.net/outside-admin/getAccessToken">授权</a>
			                    </p>
			                </fieldset>
			            </form>
			        </div>
			    </div>
			</div>
		</div>-->
	</body>
</html>
