#slides {
    display: none;
    min-height: 100px;
}
#slides .slidesjs-navigation {
    margin-top:3px;
}
#slides .slidesjs-previous {
    margin-right: 5px;
    float: left;
}
#slides .slidesjs-next {
    margin-right: 5px;
    float: left;
}
.slidesjs-pagination {
    margin: 3px 0 0;
    float: right;
    list-style: none;
}
.slidesjs-pagination li {
    float: left;
    margin: 0 1px;
}
.slidesjs-pagination li a {
    display: block;
    width: 13px;
    height: 0;
    padding-top: 13px;
    background-image: url(../images/pagination.png);
    background-position: 0 0;
    float: left;
    overflow: hidden;
}
.slidesjs-pagination li a.active,
.slidesjs-pagination li a:hover.active {
    background-position: 0 -13px
}
.slidesjs-pagination li a:hover {
    background-position: 0 -26px
}
#slides a:link,
#slides a:visited {
    color: #333
}
#slides a:hover,
#slides a:active {
    color: #9e2020
}
.navbar {
    overflow: hidden
}
.container {
    margin: 0 auto
}
/* 自定义样式*/
#slide-content{
    position: relative;
    height: 40%;
}
.slides-caption{
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 15;
    background-color: #5e5e5e;
    opacity: 0.7;
    display: inline;
    text-align: center;
    font-size: large;
    color: #FFF;
}
.captions{
    display: none;
}
#piciture-single img{
    width: 100%;
    min-width: 320px;
    min-height: 320px;
}