<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>编辑广告</title>
     <% include ../layout/headmeta.html %>
    <link rel="stylesheet" type="text/css" href="/javascripts/vendor/webuploader-0.1.5/webuploader.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/vendor/jquery-ui.min.css">
</head>

<body>
    <!-- topbar starts -->
    <% include ../layout/topbar.html %>
    <!-- topbar ends -->
    <div class="ch-container">
        <div class="row">
            <!-- left menu starts -->
            <% include ../layout/leftmenu.html %>
            <!-- left menu ends -->
            <!--/span-->
            <!-- left menu ends -->
            <div id="content" class="col-lg-10 col-sm-10">
                <!-- content starts -->
                <div>
                    <ul class="breadcrumb">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">Tables</a>
                        </li>
                    </ul>
                </div>
                <!--/row-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="box-inner">
                            <div class="box-header well" data-original-title="">
                                <h2><i class="glyphicon glyphicon-user"></i>编辑广告</h2>
                                <div class="box-icon">
                                    <a href="#" class="btn btn-minimize btn-round btn-default"><i
                                            class="glyphicon glyphicon-chevron-up"></i></a>
                                    <a href="#" class="btn btn-close btn-round btn-default"><i
                                            class="glyphicon glyphicon-remove"></i></a>
                                </div>
                            </div>
                            <div class="box-content">
                                <p class="bg-warning"></p>
                                <form class="form-horizontal" action="/admin/adver-update" method="post" onsubmit="return checkForm()"  id="fm" name="fm">
                                  <input type="hidden" name="adverId" value="<%=adver.adverId%>"/>
                                  <input type="hidden" name="ustate" value="<%=ustate%>"/>
                                  <div class="form-group" id="div_1">
                                        <label for="starName" class="col-sm-2 control-label">广告标题:</label>
                                        <div class="col-sm-3" id="aa">
                                            <input type="text" class="form-control" id="adverTitle" value="<%=adver.adverTitle%>"  name="adverTitle" placeholder="广告标题">
                                        </div>
                                    </div>
                               <div class="form-group">
                               	  <label for="starName" class="col-sm-2 control-label">广告范围:</label>
	                                <div class="col-sm-10" id="div_4">
	                                  <div class="chec">
	                                     <label>
	                                      <input type="radio"  name="flag" id="scope1" value="" <%if(adver.groupId == '' || adver.groupId == null){%>checked="checked"<%}%> >全局
	                                    </label>
	                                    &nbsp;&nbsp;&nbsp;&nbsp;
	                                    <label>
	                                      <input type="radio" name="flag" id="scope2" value="" <%if(adver.groupId != '' && adver.groupId != null){%>checked="checked"<%}%>>明星
	                                    </label>
	                                      <select name="groupId" id="groupId">
	                                      		<option value="">--请选择明星--</option>
	                                      		<%groupList.forEach(function(item,index){%>
	                                      		<%if(item.groupId == adver.groupId){%>	
	                                      		<option value="<%=item.groupId%>" selected="selected"><%=item.starName%></option>
	                                      		<%}else{%>
	                                      		<option value="<%=item.groupId%>"><%=item.starName%></option>
	                                      		<%}%>
	                                      		<%})%>
	                                      </select>
	                                  </div>
	                                </div>
	                                </div>
                                 <div class="form-group">
                                        <label for="" class="col-sm-2 control-label">广告banner：</label>
                                        <div class="col-sm-6">
                                            <div id="uploader" class="wu-example">
                                                <!-- 用来存放文件信息 -->
                                                <div id="thelist" class="uploader-list"></div>
                                                 <%if(adver.adverPic != null && adver.adverPic != ''){%>
                                                	<div class="item" id="headItem">
                                                		<h5 class="info"><%=adver.adverPic%></h5>
                                                		<img class="imageStarLogo" src="http://7xl3sp.com2.z0.glb.qiniucdn.com/<%=adver.adverPic%>"/>
                                                		<input type="hidden" name="starLogo" class="qkey" value="<%=adver.adverPic%>"/>
                                                		<a class="delpic" id="delImg" value="<%=adver.adverPic%>"   href="#">删除</a>
                                                	</div>
                                                <%}%>
                                                <input type="hidden" name="headPortrait" value="<%= qntoken%>" id="qntoken"/>
                                                <br />
                                                <div class="btns" id="div_2">
                                                    <div id="picker">选择文件</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                               <div class="form-group">
                               	  <label for="starName" class="col-sm-2 control-label">链接类型:</label>
                                    <div class="col-sm-10">
                                      <div class="radio">
                                        <label>
                                          <input type="radio"  <%if(adver.linkType == 'page'){%>checked="checked"<%}%> name="linkType" value="page">外部H5
                                        </label>
                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                         <label>
                                          <input type="radio" <%if(adver.linkType == 'news'){%>checked="checked"<%}%>  name="linkType" id="" value="news">资讯
                                        </label>
	                                      &nbsp;&nbsp;&nbsp;&nbsp;
	                                     <label>
	                                      <input type="radio" <%if(adver.linkType == 'topic'){%>checked="checked"<%}%>  name="linkType" id="" value="topic">频道
	                                    </label>
	                                      &nbsp;&nbsp;&nbsp;&nbsp;
	                                     <label>
	                                      <input type="radio" <%if(adver.linkType == 'post'){%>checked="checked"<%}%>  name="linkType" id="" value="post">帖子
	                                    </label>
                                      </div>
                                    </div>
                                </div>
                                <div class="form-group" id="div_3">
                                        <label for="starName" class="col-sm-2 control-label">具体链接:</label>
                                        <div class="col-sm-3" id="">
                                            <input type="text" class="form-control" id="linkValue" value="<%=adver.linkValue%>" name="linkValue" placeholder="具体链接">
                                        </div>
                                    </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                      <div class="checkbox">
                                         <label>
                                          <input type="checkbox" checked="checked" name="state" id="atReleaseDate" value="1">立即发布
                                        </label>
                                      </div>
                                    </div>
                                </div>
                               <div class="form-group">
                                 <div class="form-group">
                                        <label for="calendar" class="col-sm-2 control-label">是否定时</label>
                                        <div class="col-sm-3">
                                            <input type="text" class="form-control" onclick="laydate({format: 'YYYY-MM-DD hh:mm:ss',istime: true,min:laydate.now()})" id="timedReleaseDate" name="releaseDate">
                                        </div>
                                    </div>
                            	</div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-info">保存</button>
                                         &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                        <a class="btn btn-default" href="/admin/getAdverList">返回</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <!--/row-->
                <!-- content ends -->
            </div>
            <!--/#content.col-md-0-->
        </div>
        <!-- 中间空白区 starts  -->
        <div class="row">

        </div>
        <!-- 中间空白区 ends  -->
        <hr />
        <!-- 底部版权信息 starts  -->
        <% include ../layout/footer.html %>
        <!-- 底部版权信息 ends-->
    </div>
      </div>
    <!-- requirejs导入需要的js插件以及自定义模块 -->
     <script src="/javascripts/vendor/require.min.js" data-main="/javascripts/vendor/adver-main.js"></script>
    <!--<script src="http://apps.bdimg.com/libs/require.js/2.1.11/require.min.js" data-main="javascripts/vendor/index-main.js"></script>-->
</body>
</html>
