<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>广告列表</title>
    <% include ../layout/headmeta.html %>
     <link rel="stylesheet" type="text/css" href="/javascripts/vendor/webuploader-0.1.5/webuploader.css">
</head>

<body>
    <!-- topbar starts -->
    <% include ../layout/topbar.html %>
    <!-- topbar ends -->
    <div class="ch-container">
        <div class="row">
            <!-- left menu starts -->
            <% include ../layout/leftmenu.html %>
            <!-- left menu ends -->
            <!--/span-->
            <!-- left menu ends -->
            <div id="content" class="col-lg-10 col-sm-10">
                <!-- content starts -->
                <div>
                    <ul class="breadcrumb">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">Tables</a>
                        </li>
                    </ul>
                </div>
                <!--/row-->
                <div class="row">
                    <div class="box col-md-12">
                        <div class="box-inner">
                            <div class="box-header well" data-original-title="">
                                <h2><i class="glyphicon glyphicon-user"></i>广告列表</h2>
                                <div class="box-icon">
                                    <a href="#" class="btn btn-minimize btn-round btn-default"><i
                                            class="glyphicon glyphicon-chevron-up"></i></a>
                                    <a href="#" class="btn btn-close btn-round btn-default"><i
                                            class="glyphicon glyphicon-remove"></i></a>
                                </div>
                            </div>
                          
							 <div class="box col-md-12">
									<form class="form-inline" action="/admin/getAdverList" method="get">
										<label for="exampleInputEmail2">按:</label>
										<select class="form-control" name="postChoose">
											<option value="1">广告标题</option>
											<option value="2">范围</option>
										</select>
										<div class="form-group">
											<input type="text" class="form-control" name="keyWord" id="exampleInputName2" placeholder="">
										</div>
										<select class="form-control" name="stateFlag">
											<option value="">发布状态</option>
											<option value="1">已发布</option>
											<option value="0">未发布</option>
											<option value="2">定时发布</option>
											<option value="-1">已删除</option>
										</select>
										<select class="form-control" name="order">
											<option value="">选择排序</option>
											<option value="1">点击次数倒序</option>
											<option value="2">点击次数正序</option>
											<option value="3">添加时间倒序</option>
											<option value="4">添加时间正序</option>
											<option value="5">发布时间倒序</option>
											<option value="6">发布时间正序</option>
										</select>
										<button type="submit" class="btn btn-default">搜索</button>
									</form>
								</div>
							<div class="box col-md-12">
                                <p>
                                    <a class="btn btn-default btn-sm" href="/admin/adver-addui"><i class="glyphicon glyphicon-plus"></i>新增广告</a>
                                </p>
                            </div>	
                            <div class="box-content">
                                <table class="table table-striped table-bordered responsive">
                                    <thead>
                                        <tr>
                                        	<th>序号</th>
                                            <th>广告标题</th>
                                            <th>范围</th>
                                            <th>广告banner</th>
                                            <th>链接</th>
                                            <th>类型</th>
                                            <th>点击次数</th>
                                            <th>发布状态</th>
                                            <th>添加时间</th>
                                            <th>发布时间</th>
											<th>操作</th>                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                      	<form class="form-inline" action="" method="get">
                                      	<%adverList.forEach(function(item,index){%>
                                        <tr>
                                            <td class="center"><%=index+1%></td>
                                            <td class="center">
                                            	<a href="/admin/adver-updateUi?adverId=<%=item.adverId%>&ustate=<%=item.state%>"><%=item.adverTitle%></a>
                                            </td>
                                            <td class="center">
                                            	<%if(item.starName==null){%>
                                            		全局
                                            	<%}else{%>
                                            		<%=item.starName%>
                                            	<%}%>	
                                            </td>
                                            <td class="center">
	                                            <%if(item.adverPic != null && item.adverPic != ''){%>
	                                               <img class="imageStarLogo" style="width: 90px;height: 40px;" src="http://7xl3sp.com2.z0.glb.qiniucdn.com/<%=item.adverPic%>"/>
	                                            <%}%>
                                            </td>
                                            <td class="center">
                                            	<%=item.linkValue%>
                                            </td>
                                            <td>
                                            	<%if(item.linkType == 'topic'){%>
                                            		<span style="color: darkgoldenrod;">频道</span>
                                            	<%}else if(item.linkType == 'post'){%>
                                            		<span style="color: darkmagenta;">帖子</span>
                                            	<%}else if(item.linkType == 'news'){%>
                                            		<span style="color: mediumpurple;">咨讯</span>
                                            	<%}else if(item.linkType == 'page'){%>
                                            		<span style="color:darkcyan">H5页面</span>
                                            	<%}else{%>
                                            		<span style="color:#000000;">未知</span>
                                            	<%}%>	
                                            </td>	
                                            <td class="center">
                                            	<%=item.likeCount%>
                                            </td>
                                            <td class="center">
                                            	<%if(item.state == 2){%>
                                                	<span class="label-default label label-default">定时发布</span>
	                                            <%}else if(item.state == 0){%>
	                                            	<span class="label-warning label">未发布</span>
	                                            <%}else if(item.state == 1){%>
	                                            	<span class="label-success label label-default">已发布</span>
	                                            <%}else if(item.state == -1){%>
	                                            	<span class="label-default label label-danger">已删除</span>
	                                            <%}else{%>
	                                            	<span class="label-warning label">未知</span>
	                                            <%}%>	
                                            </td>
                                            <td class="center">
                                            	<%=item.createDate%>
                                            </td>
                                            <td class="center">
                                            	<%if(item.releaseDate != null && item.releaseDate !=''){%>
                                            		<%=item.releaseDate%>
                                            	<%}else{%>
                                            		<%=item.updateDate%>
                                            	<%}%>	
                                            </td>
                                            <td class="center">
                                            	<%if(item.state != -1){%>
												 <a class="btn btn-danger btn-xs" name="delete" id="<%=item.adverId%>" href="javascript:void(0)">
                                                    <i class="glyphicon glyphicon-trash icon-white"></i>
                                                  	  删除
                                                </a>
                                                <%}%>
                                                <%if(item.state != -1){%>
												<%if(item.state == 1){%>
												<a class="btn btn-danger btn-xs" href="javascript:void(0)" name="updateState" id="<%=item.adverId%>,0">
                                                    <i class="glyphicon glyphicon-remove icon-white"></i>
                                                    	取消发布
                                                </a>
                                                <%}else{%>
                                            	<a class="btn btn-success btn-xs"  href="javascript:void(0)" id="<%=item.adverId%>,1" releaseState="<%=item.state%>" name="updateState">
                                                    <i class="glyphicon glyphicon-ok icon-white"></i>
                                                    	立即发布
                                                </a>
                                                <%}%>
                                                <%}%>
                                                 <%if(item.state == -1){%>
                                                <a class="btn btn-success btn-xs"  href="javascript:void(0)" id="<%=item.adverId%>,2" name="updateState">
                                                    <i class="glyphicon glyphicon-ok icon-white"></i>
                                                    	恢复
                                                </a>
                                                <a class="btn btn-danger btn-xs" name="chedi_delete" id="<%=item.adverId%>" href="javascript:void(0)">
                                                    <i class="glyphicon glyphicon-trash icon-white"></i>
                                                  	  彻底删除
                                                </a>
                                                <%}%>
                                            </td>
                                        </tr>
                                       <%})%>
                                         </form>
                                    </tbody>
                                </table>
                                <nav>
                                    <ul class="pager">
                                    	<%if(currentPage==1){%>
                                    		 <li class="disabled"><a href="#">上一页</a></li>
                                    	<%}else{%>
                                    		 <li class=""><a href="/admin/getAdverList?pageIndex=<%=currentPage-1%>&pageSize=10&postChoose=<%=params.postChoose%>&keyWord=<%=params.keyWord%>&stateFlag=<%=params.stateFlag%>&order=<%=params.order%>">上一页</a></li>
                                    	<%}%>	
                                        <li>第<%=currentPage%>页</li>
                                        <li ><a href="/admin/getAdverList?pageIndex=<%=(parseInt(currentPage)+1)%>&pageSize=10&postChoose=<%=params.postChoose%>&keyWord=<%=params.keyWord%>&stateFlag=<%=params.stateFlag%>&order=<%=params.order%>">下一页</a></li>
                                        <li>共<%=(totalCount%10==0?totalCount/10:Math.ceil(totalCount/10))%>页</li>
                                        <li>共<%= (totalCount)%>条</li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <!--/row-->
                <!-- content ends -->
            </div>
            <!--/#content.col-md-0-->
        </div>
        <!-- 中间空白区 starts  -->
        <!-- 中间空白区 ends  -->
        <hr />
        <!-- 底部版权信息 starts  -->
        <% include ../layout/footer.html %>
        <!-- 底部版权信息 ends-->
    </div>
    <!-- requirejs导入需要的js插件以及自定义模块 -->
     <script src="/javascripts/vendor/require.min.js" data-main="/javascripts/vendor/adver-main.js"></script>
    <!--<script src="http://apps.bdimg.com/libs/require.js/2.1.11/require.min.js" data-main="javascripts/vendor/index-main.js"></script>-->
</body>
</html>
