<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <% include includes/headmeta.html %>
    <title>韩豆官网-韩豆咖派|韩粉社区|高清图|韩娱资讯</title>
    <!-- 生产环境使用 -->
    <link rel="stylesheet" type="text/css" href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap-theme.min.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
      <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="/stylesheets/home.min.css">
</head>

<body>
    <% include includes/header.html %>
    <div class="activity-body news-show-background-color">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div style="text-align: center;height:  auto;">
                        <img src="http://7xj01w.com2.z0.glb.qiniucdn.com/activity.jpg" alt="韩豆活动"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
   <% include includes/footer.html %>
    <script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.js"></script>
</body>

</html>
