<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <% include includes/headmeta.html %>
    <title>韩豆官网-韩豆咖派|韩粉社区|高清图|韩娱资讯</title>
    <!-- Bootstrap -->
    <!--<link rel="stylesheet" type="text/css" href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.css">-->
    <!--<link rel="stylesheet" type="text/css" href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap-theme.css">-->
    <!-- 生产环境使用 -->
    <link rel="stylesheet" type="text/css" href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
      <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="/stylesheets/swiper3.07.min.css">
    <link rel="stylesheet" type="text/css" href="http://apps.bdimg.com/libs/animate.css/3.1.0/animate.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/home.min.css">

</head>

<body class="home">
    <% include includes/header.html %>
    <div class="mycontainer">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="top-section">
                        <img src="/images/portal/handou.png" alt="韩流社区，韩豆，韩豆咖派"/>
                    </div>
                    <div class="left-buttons">
                        <a href="http://itunes.apple.com/cn/app/id906582349" class="appStore-link" target="_blank"><img src="/images/portal/ios.png" alt=""></a>
                        <a href="http://www.handouer.cn/apps/" class="android-link" target="_blank"><img src="/images/portal/anzhuo.png" alt=""></a>
                        <p>
                            <!--请把这段代码放在页面头部加载-->
                            <script src="http://zhushou.360.cn/script/plugin_tiper.js"></script><link type="text/css" rel="stylesheet" href="http://zhushou.360.cn/style/thirdparty_tip.css" media="all">
                            <!--下载按钮开始-->
                            <a class="qihustore-link" title="使用360手机助手安装" href="zhushou360://type=apk&amp;name=韩豆&amp;icon=http://handou2app.qiniudn.com/logo80x80.png&amp;url=http://zhushou.360.cn/detail/index/soft_id/1964734#btn-install-now-log" target="_blank"><img src="/images/portal/360.png" alt=""></a>
                            <!--下载按钮结束-->
                            <!--代码结束-->
                        </p>
                    </div>
                    <div class="right-qr-code"><img src="http://7xj01w.com2.z0.glb.qiniucdn.com/1447038472.png" /></div>
                </div>
                <div class="col-md-6">
                    <div class="pic">
                       <div class="mobile-container">
                           <img src="/images/portal/iphone_bg.png">
                           <div class="swiper-container swiper-bg">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide"><img src="http://7xj01w.com2.z0.glb.qiniucdn.com/201510410243219310.jpg" style="width:100%"></div>
                                <div class="swiper-slide"><img src="http://7xj01w.com2.z0.glb.qiniucdn.com/201510410243320420.jpg" style="width:100%"></div>
                                <div class="swiper-slide"><img src="http://7xj01w.com2.z0.glb.qiniucdn.com/201510410243875970.jpg" style="width:100%"></div>
                                <div class="swiper-slide"><img src="http://7xj01w.com2.z0.glb.qiniucdn.com/201510410244320320.jpg" style="width:100%"></div>
                                <div class="swiper-slide"><img src="http://7xj01w.com2.z0.glb.qiniucdn.com/201510410244431530.jpg" style="width:100%"></div>
                            </div>
                        </div>
                       </div>
                       <img class="pic-journey" src="/images/portal/android_bg.png">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 detail-intro">
                    <p class="liangdian"><img src="/images/portal/deng.png" /> 五大亮点功能让追星变得更简便，尽享追星乐趣</p>
                    <div class="text-center">
                        <!--<img src="/images/portal/wudaliangdian.png">-->
                        <div class="group-container">
                        	<a href="/portal/category">
                        	<div class="group-text" id="group-text-1">
                        		<h2>粉丝团</h2>
	 							<h4>组合丶综艺丶演员大量粉丝团供你选~</h4>
                        	</div>
                        	</a>
                        	<div class="group-img">
                        		 <img src="/images/portal/12.jpg"/>
                        	</div>
                        </div>
                        <div class="group-container">
                        	<a href="/portal/news">
	                        <div class="group-text" id="group-text-2">
	 							<h2>韩娱资讯</h2>
	 							<h4>掌握韩娱第一手资料，最新资讯掌上握</h4>
	                        </div>
	                        <a/>
	                        <div class="group-img">
	                        	 <img src="/images/portal/10.jpg"/>
	                        </div>
                        </div>	
                        <div class="group-container">
                        	<a href="/portal/topic">
                        	<div class="group-text" id="group-text-3">
                        		<h2>高清壁纸图</h2>
	 							<h4>提供最高清丶最齐全的图片丶满足你的收藏癖~</h4>
                        	</div>
                        	</a>
                        	<div class="group-img">
                        		 <img src="/images/portal/14.jpg">
                        	</div>
                        </div>
                        <div class="group-container">
                        	<a href="/portal/video">
                        	<div class="group-text" id="group-text-4">
                        		<h2>高清视频</h2>
	 							<h4>各种韩娱高清视频,满足你的各种看点~</h4>
                        	</div>
                        	</a>
                        	<div class="group-img">
                        		 <img src="/images/portal/15.jpg"/>
                        	</div>
                        </div>
                        <div class="group-container">
                        	<a href="/portal/activity">
                        	<div class="group-text" id="group-text-5">
                        		<h2>粉丝活动</h2>
	 							<h4>大活动丶小活动丶不间断明星随便拿~</h4>
                        	</div>
                        	</a>
                        	<div class="group-img">
                        		 <img src="/images/portal/13.jpg"/>
                        	</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="liangdian"><img src="/images/portal/bi.png"> 为什么要选择韩豆？？ 四最我来告诉你</p>
                </div>
            </div>
            <div class="row intro-list">
                <div class="col-md-11 col-md-offset-1">
                    <p class="intro-list-p"><img src="/images/portal/fensituan.png" alt=""> 最权威的粉丝团 - <span>刷榜？作弊？这些在这里都不存在，我们只做最权威的粉丝团，完全按照韩国fanclub体制，打造属于我们最纯净的追星天地。</span></p>
                    <p class="intro-list-p"><img src="/images/portal/qianbeifan.png" alt="">最资深的前辈饭 - <span>追星很难吗？一个人追当然难，但如果有前辈带着大家一起追就没问题啦！在这里我们拥有在韩国亲身追星经历的资深前辈，追星秘籍大公开。</span></p>
                    <p class="intro-list-p"><img src="/images/portal/fanyizu.png" alt="">最强大的翻译组 - <span>看不懂韩语怎么知道偶吧们在干啥？在这里我们的翻译陈容足以媲美2个大型翻译组。没办法，谁让我们就是作性，就是想地接拿来自韩国的第一手资料呢？</span></p>
                    <p class="intro-list-p"><img src="/images/portal/team.png" alt="">最懂韩粉的团队 - <span>不懂韩粉的团队怎么可能带给韩粉最棒的产品呢？韩豆所有工作人员都是韩粉，我们有共同的爱好，那样还不值得大家信任吗？</span></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 say-good">
                    <img src="/images/portal/biaoyu.png">
                </div>
            </div>
            <div class="row app-qr-code">
                <div class="col-md-6">
                    <img src="/images/portal/weibo.png" alt="关注韩豆咖派微博">
                </div>
                <div class="col-md-6">
                    <img src="/images/portal/weixin.png" alt="关注韩国韩剧电影综艺圈">
                </div>
            </div>
    </div>
    </div>
    <% include includes/footer.html %>
    <script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/home/swiper3.07.jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/home/home.js"></script>
</body>

</html>
