<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <% include includes/headmeta.html %>
    <title>韩豆韩粉社区 | 掌上韩流 聚逗韩趣 | 资讯</title>
    <!-- 生产环境使用 -->
     <link rel="stylesheet" type="text/css" href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css"> 
    <!--<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">-->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
      <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="/stylesheets/home.min.css">
 
</head>

<body>
    <% include includes/header.html %>
    <div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<div class="video_title">
					<h3>视频列表：</h3>
				</div>
			</div>			
        </div>

		<div class="row">
			<div class="col-xs-12 col-md-10 col-md-offset-1">
				<div class="video_list">
					<%videolist.forEach(function(item, index){%>
						<div>
							<a href="/portal/videoDetails?videoId=<%=item.videoId%>">
								<img src="<%=item.picture%>"/>
								<span><%=item.videoDesc%></span>
								<p>
									<i class="glyphicon glyphicon-play-circle"><%=item.readCount%></i>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	            					<i class="glyphicon glyphicon-thumbs-up"><%=item.likeCount%></i>
								</p>
							</a>
						</div>
					<%})%>
				</div>
			</div>
		</div>
        
    </div>
    <% include includes/footer.html %>
</body>
</html>
