<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.min.css" />	
        <link rel="stylesheet" type="text/css" href="/stylesheets/appluodi.css" />
        <title>活动落地页</title>
	</head>
	<body>
		<div class="content">
			<img class="con_img" src="/images/appluodi/part3.png" alt="立即下载主应用">
			<a class="download" href="http://7o50qq.com2.z0.glb.qiniucdn.com/kapai/kapai_handouer.apk" >
				<img class="down_img" src="/images/appluodi/enter234.png" />
			</a>
		</div>
	</body>
</html>
