<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="上海罗馥缇电子商务有限公司  内容管理系统">
<meta name="author" content="上海罗馥缇电子商务有限公司">
<!-- The styles -->
<link href="/stylesheets/vendor/bootstrap-cerulean.min.css" rel="stylesheet">
<link href="/stylesheets/vendor/charisma-app.css" rel="stylesheet">
<!--<link href="/stylesheets/vendor/chosen.min.css" rel="stylesheet">-->
<!--<link href="/stylesheets/vendor/charisma-app.css" rel="stylesheet">-->
<!--<link href='/stylesheets/vendor/fullcalendar.css' rel='stylesheet'>-->
<!--<link href='/stylesheets/vendor/fullcalendar.print.css' rel='stylesheet' media='print'>-->
<!--<link href='/stylesheets/vendor/chosen.min.css' rel='stylesheet'>-->
<!--<link href='/stylesheets/vendor/colorbox.css' rel='stylesheet'>-->
<!--<link href='/stylesheets/vendor/responsive-tables.css' rel='stylesheet'>-->
<!--<link href='/stylesheets/vendor/bootstrap-tour.min.css' rel='stylesheet'>-->
<!--<link href='/stylesheets/vendor/jquery.noty.css' rel='stylesheet'>-->
<!--<link href='/stylesheets/vendor/noty_theme_default.css' rel='stylesheet'>-->
<!--<link href='/stylesheets/vendor/elfinder.min.css' rel='stylesheet'>-->
<!--<link href='/stylesheets/vendor/elfinder.theme.css' rel='stylesheet'>-->
<!--<link href='/stylesheets/vendor/jquery.iphone.toggle.css' rel='stylesheet'>-->
<!--<link href='/stylesheets/vendor/uploadify.css' rel='stylesheet'>-->
<!--<link href='/stylesheets/vendor/animate.min.css' rel='stylesheet'>-->
<!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<!-- The fav icon -->
<script src="/javascripts/vendor/laydate/laydate.js"></script>
<link href="/javascripts/vendor/laydate/skins/default/laydate.css" rel="stylesheet">
<link rel="shortcut icon" href="img/favicon.ico">