<div class="col-sm-2 col-lg-2">
	<div class="sidebar-nav">
		<div class="nav-canvas">
			<div class="nav-sm nav nav-stacked"></div>
			<ul class="nav nav-pills nav-stacked main-menu">
				<li class="nav-header">主菜单</li>
				<li><a class="ajax-link" href="/admin/group"><i class="glyphicon glyphicon-star"></i><span>明星（粉丝团）管理</span></a></li>
				<li class="accordion">
					<a href="#org"><i class="glyphicon glyphicon-bullhorn"></i><span>组织管理</span><span class="caret"></span></a>
					<ul class="nav nav-pills nav-stacked">
						<li><a href="/admin/org">内部组织</a></li>
						<li><a href="/admin/list/userVerify">外部组织审核</a></li>
						<!--adverRoute中 -->
						<li><a href="/admin/record">每日打卡情况</a></li>
					</ul>
				</li>
				<li><a class="ajax-link" href="/admin/topic"><i class="glyphicon glyphicon-eye-open"></i><span>频道管理 </span></a></li>
				<li class="accordion">
					<a href="#post"><i class="glyphicon glyphicon-list"></i><span>帖子管理</span><span class="caret"></span></a>
					<ul class="nav nav-pills nav-stacked">
						<li><a href="/admin/userPost">用户帖子</a></li>
						<li><a href="/admin/orgPost">组织帖子</a></li>
						<li><a href="/admin/getWeiboList">微博帖子审核 </a></li>
						<li><a href="/admin/postComment"><span> 帖子评论 </span></a></li>
					</ul>
				</li>
				<li class="accordion">
					<a href="#yunying"><i class="glyphicon glyphicon-plane"></i><span>运营</span><span class="caret"></span></a>
					<ul class="nav nav-pills nav-stacked">
						<li class="accordion">
						<a href="#user"><i class="glyphicon glyphicon-user"></i><span>用户管理</span><span class="caret"></span></a>
						<ul class="nav nav-pills nav-stacked">
							<!--<li><a href="/admin/getUserList"><span>用户列表</span></a></li>
							<li><a href="/admin/user_sign_list"><span> 用户签到情况 </span></a></li>
							<li><a href="/admin/user_sign_record_list"><span> 用户签到记录 </span></a></li>
							<li><a href="/admin/org_record_list"><span> 打卡记录 </span></a></li>-->
							<li><a href="/admin/recordGiftList"><span> 打卡礼品列表 </span></a></li>
							<li><a href="/admin/ticketSetList"><span> 奖品设置 </span></a></li>
							<li><a href="/admin/getUserLogs"><span> 用户错误日志 </span></a></li>
						</ul>
						</li>
					
						
					<!--<li class="accordion">
						<a href="#gift"><i class="glyphicon glyphicon-th"></i><span>礼品管理</span><span class="caret"></span></a>
						<ul class="nav nav-pills nav-stacked">
							<li><a href="/admin/gift-list"><span> 礼品列表 </span></a></li>
							<li><a href="/admin/gift-exchange-list"><span> 礼品兑换列表 </span></a></li>
						</ul>
					</li>-->
				
					<li class="accordion">
						<a href="#gift"><i class="glyphicon glyphicon-briefcase"></i><span>背包及专辑券管理</span><span class="caret"></span></a>
						<ul class="nav nav-pills nav-stacked">
						<li><a href="/admin/bag_list"><span> 背包列表 </span></a></li>
						<li><a href="/admin/user_exchange_list"><span> 专辑券兑换列表</span></a></li>
						</ul>
					</li>
					<li class="accordion">
						<a href="#gift"><i class="glyphicon glyphicon-fire"></i><span>组织兑换管理</span><span class="caret"></span></a>
						<ul class="nav nav-pills nav-stacked">
						<li><a href="/admin/org_exchange_list"><span> 添加兑换比例 </span></a></li>
						<li><a href="/admin/org_exchange_log_list"><span> 组织兑换记录 </span></a></li>
						</ul>
					</li>	
						
						<!--<li><a href="/admin/getAdverList"><span> 广告管理 </span></a></li>-->
						<li><a href="/admin/bean-double-list"><span> 豆币加倍管理 </span></a></li>
						<li><a href="/admin/invitationCodeList"><span> 邀请码 </span></a></li>
						<li><a href="/admin/videoList"><i class="glyphicon glyphicon-film"><span>视频管理</span></i></a></li>
						<li><a href="/admin/group_user"><i class="glyphicon glyphicon-asterisk"></i><span>粉丝团编号</span></a></li>
				    </ul>
				</li>	
				<li class="accordion">
					<a href="#message"><i class="glyphicon glyphicon-envelope"></i><span>消息管理</span><span class="caret"></span></a>
					<ul class="nav nav-pills nav-stacked">
						<li><a href="/admin/push">推送列表</a></li>
						<li><a href="/admin/commonQuestion">常见问题</a></li>
						<li><a href="/admin/userQuestion">提问列表</a></li>
					</ul>
				</li>
				<ul class="nav nav-pills nav-stacked">
					<li><a href="/admin/getUserList"><i class="glyphicon glyphicon-user"></i><span>用户列表</span></a></li>
					<li><a href="/admin/user_sign_list"><i class=" glyphicon glyphicon-tree-conifer"></i><span> 用户签到情况 </span></a></li>
					<li><a href="/admin/user_sign_record_list"><i class="glyphicon glyphicon-list"></i><span> 用户签到记录 </span></a></li>
					<li><a href="/admin/org_record_list"><i class="glyphicon glyphicon-th"></i><span> 打卡记录 </span></a></li>
					<li><a href="/admin/gift-list"><i class="glyphicon glyphicon-adjust"></i><span> 礼品列表 </span></a></li>
					<li><a href="/admin/gift-exchange-list"><i class=" glyphicon glyphicon-screenshot"></i><span> 礼品兑换列表 </span></a></li>
					<li><a href="/admin/getAdverList"><i class="glyphicon glyphicon-retweet"></i><span> 广告管理 </span></a></li>
				</ul>
			</ul>
		</div>
	</div>
</div>