<div class="col-sm-2 col-lg-2">
	<div class="sidebar-nav">
		<div class="nav-canvas">
			<div class="nav-sm nav nav-stacked"></div>
			<ul class="nav nav-pills nav-stacked category-list">
				<li class="nav-header">主菜单</li>
				<li><a class="ajax-link" href="/outside-admin/org-topic-list"><i class="glyphicon glyphicon-list-alt"></i><span>帖子管理</span></a></li>
				<li><a class="ajax-link" href="/outside-admin/org-update-pwdUI"><i class="glyphicon glyphicon-lock"></i><span>修改密码</span></a></li>
				<li><a class="ajax-link" href="https://api.weibo.com/oauth2/authorize?client_id=2851583478&response_type=code&redirect_uri=http://nodeapi.handouer.cn:9000/outside-admin/getAccessToken"><i class="glyphicon glyphicon-heart"></i><span>组织授权</span></a></li>
				<!--<li><a class="ajax-link" href="https://api.weibo.com/oauth2/authorize?client_id=2851583478&response_type=code&redirect_uri=http://handouer.wicp.net/outside-admin/getAccessToken"><i class="glyphicon glyphicon-heart"></i><span>组织授权身上</span></a></li>-->
				<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
				<br/><br/><br/><br/><br/><br/><br/>
			</ul>
		</div>
	</div>
</div>