<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8">
		<title>韩豆咖派后台管理系统</title>
		<% include ../admin/layout/headmeta.html %>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="上海罗馥缇电子商务有限公司  内容管理系统">
		<meta name="author" content="上海罗馥缇电子商务有限公司">
		<link id="bs-css" href="/stylesheets/vendor/bootstrap-cerulean.min.css" rel="stylesheet">
		<link href="/stylesheets/vendor/charisma-app.css" rel="stylesheet">
		<link rel="shortcut icon" href="img/favicon.ico">	
	</head>
	<body>
		<div class="ch-container">
		    <div class="row">
			    <div class="row">
			        <div class="col-md-12 center login-header">
			            <h2>组织登录</h2>
			        </div>
			        <!--/span-->
			    </div><!--/row-->
			    <div class="row">
			        <div class="well col-md-5 center login-box">
			            <div class="alert alert-info" id="warn">请用您的用户名和密码登录</div>
			            <form class="form-horizontal" id="orgLoginform" method="post" onsubmit="return false;">
			                <fieldset>
			                    <div class="input-group input-group-lg">
			                        <span class="input-group-addon"><i class="glyphicon glyphicon-user red"></i></span>
			                        <input type="text" id="username" name="userName" class="form-control" placeholder="用户名" value="">
			                    </div>
			                    <div class="clearfix"></div><br>
			
			                    <div class="input-group input-group-lg">
			                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock red"></i></span>
			                        <input type="password" id="password" name="passWord" class="form-control" placeholder="密码" value="">
			                    </div>
			                    <div class="clearfix"></div>
			                    <!--<div class="input-prepend">
			                        <label class="remember" for="remember"><input type="checkbox" id="remember"> 记住我 </label>
			                    </div>-->
			                    <div class="clearfix"></div>
			
			                    <p class="center col-md-5">
			                        <input type="submit" id="orglogin" class="btn btn-primary" value="登陆">
			                    </p>
			                </fieldset>
			            </form>
			        </div>
			    </div>
			</div>
		</div>
		<!-- requirejs导入需要的js插件以及自定义模块 -->
		<script src="/javascripts/vendor/require.min.js" data-main="/javascripts/vendor/user-main.js"></script>
	</body>
</html>
